[2019-03-22 15:13] Yaron10 commented on #16
Hello Pavel,

I'm glad we're on the same page. The implementation is perfect. :+1:
Thank you so much.

I'm particularly glad you find `Diff Lines` clear. :) Thanks.

Should it be `1 Diff Line` and `2 Diff Lines`?
Unlike `Segments`, you're referring to the two line in the two files: we have one place where the *two lines* are different.
What do you think?

You're absolutely right.

`2 Diff lines: 2

[2019-03-22 20:16] Yaron10 commented on #16
Hello again Pavel,

Could you please compare [these](https://github.com/pnedev/compare-plugin/files/2998133/TEST.zip) files?
(`Detect Moves` and `Ignore Spaces`).

The Diff Lines in the status bar is 82.
Counting it manually, I get 83 (my apologies if I'm wrong).
***
Checking `Ignore Empty Lines`, the Removed count in the status bar is correctly 51 (-3) but the three empty lines in `configOld.xml`

[2019-03-23 01:25] pnedev commented on #16
Hello Yaron,

Yes, exactly :+1:

The `:` is on purpose and you got it right - I interpret it exactly like you. Diff lines are all the changed lines between the files. If there is a section in which several lines are added and other at the same place are removed in the other file it is practically one diff section. This is what I refer to as `replaced`. That's why summing added and replaced lines d

[2019-03-23 14:04] Yaron10 commented on #16
Hello Pavel,

...
Yes, exactly

I actually wrote one line down that it should always be "Lines" in plural.
We have one "horizontal-segment" where the *two lines* are different.
(What can the full sentence possibly be with "1 Diff Line"?).

The same is true with "1 Match" (if it's a verb).
We have one "horizontal-segment" where the *two lines* match.

You're right. :+1:
The Added/Removed per file r

[2019-03-23 14:06] Yaron10 commented on #85
Hello Pavel,

Continued from https://github.com/pnedev/compare-plugin/issues/16#issuecomment-475872428.

In the [prefs files](https://github.com/pnedev/compare-plugin/files/2999401/TEST.zip), line 22 in `prefs Backup.js` is in the middle of diffs-block and yet it's not marked.

![תמונה](https://user-images.githubusercontent.com/10229320/54867027-7d04d000-4d84-11e9-82e3-b2e74c70eafb.png)

Yes, ther

[2019-03-24 16:15] i3luefire opened #194 "icon sizes on 4k displays"
I am using a 4k resolution display. the icons for this plugin are very small on this display compared to the other icons in notepad++.
![image](https://user-images.githubusercontent.com/3527233/54882255-1c2dd400-4e26-11e9-8728-a2aea109d5ab.png)

[2019-03-25 16:21] pnedev commented on #85
Hello Yaron,

I'll do some tests, thank you for the feedback.

BR

[2019-03-25 16:29] pnedev commented on #16
Hello Yaron,

Thank you for all the suggestions. :+1:
I've made the necessary changes and here is the new binary:
https://ci.appveyor.com/api/buildjobs/t0o1rc251hxnttd6/artifacts/ComparePlugin.dll .

You are right.

I somewhat overlooked it, thanks for pointing that out once more. That is a very good catch, well done.
It should be fixed now. You can also try comparing
**[these](https://github.com/

[2019-03-25 16:30] pnedev commented on #194
Thanks for reporting I'll see what I can do.

BR

[2019-03-25 20:41] Yaron10 commented on #16
Hello Pavel,

Great. Thank you for the quick fix. :+1:
Counting the diffs with your files is indeed easier. :)

And many thanks again for implementing it. I find it very useful.

The format also looks nice and clear.
***
I've noticed the preference (Diffs/Settings) is no longer per Compare and it's saved after Clear. :+1:
How about saving it to the INI file as well (no UI changes; just use last se

[2019-03-25 20:41] #16 closed

[2019-03-25 20:42] Yaron10 commented on #85
Hello Pavel,

Thank you. I appreciate it. :+1:

The following question is not directly related to this thread.

[DiffTest files](https://github.com/pnedev/compare-plugin/files/3005253/TEST.zip).

![תמונה](https://user-images.githubusercontent.com/10229320/54951042-5f359780-4f4b-11e9-8e14-d7591683ad75.png)

You insert a blank line after line 7 so that lines 8 are aligned.
Line 14 in `DiffTestNew.rc

[2019-03-25 20:43] Yaron10 commented on #194
Hello Pavel and @i3luefire,

Pavel,

Thank you for that too.

NPP starches its 16x16 icons. DSpellCheck has a separate 32x32 icon but - as far as I can judge by the screenshot - its icon is also slightly starched.
I suppose that adding new 32x32 (and perhaps more) icons to CP would be too much.
What do you think?

BR

[2019-03-25 20:44] Yaron10 commented on #138
Hello Pavel,

An interesting NPP Undo/Redo bug in Double-View mode.
(Just good to know. I'm not requesting a fix in CP :) ).

**STR:**
Open two files.
Move one file to the other view.
Edit the file.
Select the other file *by clicking on its tab*.

**Result:**
The Undo command is wrongly enabled until the window is refreshed.

Thank you.
BR

[2019-03-26 09:26] pnedev commented on #194
Hello Yaron,

I am not quite aware (yet) with icon handling in Notepad++ and in general but I think adding more icons will indeed be too much.
What we need is to re-scale the icons IMO but isn't it better to change all the existing icons to 32x32 so the scaling goes downwards? This way the bigger icons won't be 'rough' and the small ones won't change. I don't know, what do you think? Is it a lot o

[2019-03-26 12:18] pnedev commented on #194
Hello again, Yaron,

It appears that we just need to make the icons icons :)
I mean if the resource files are not bitmaps but actual icons the resizing should take place.
How difficult will it be to convert all bitmaps to icons?

Thanks a ton.
BR

[2019-03-26 13:10] pnedev commented on #16
Hello Yaron,

Another good idea :+1:

See it in action here:
https://ci.appveyor.com/api/buildjobs/x9tbg05ut2c28vs2/artifacts/ComparePlugin.dll .

Thank you,
BR

[2019-03-26 13:23] pnedev opened #195 "Release the plugin under new name"
Change name of the plugin for the new release.
This way both the original Compare plugin will exist together with this new one. Those started to differ a lot (at least a lot code changes exist between the too).
It will reduce confusion, let the users keep old Compare if they prefer so and make maintaining easier.
This will also leave the possibility for the official Compare maintainers to further

[2019-03-26 13:31] pnedev commented on #85
Hello Yaron,

I don't think so.
The concept is the following:
Changed lines have commonalities so are aligned.
If user wishes to the matched lines are aligned one by one as they are practically the same (again commonalities exist between lines).
The `replaced` lines are actually `replaced` blocks of lines that actually have nothing in common (at least from Compare plugin point of view). So only th

[2019-03-27 00:24] Yaron10 commented on #194
Hello Pavel,

Converting BMP images to [ICO images](https://github.com/pnedev/compare-plugin/files/3010683/res.zip) is easy.

NPP uses 16x16 BMP images (PowerEditor\src\icons) for the standard toolbar.
The larger images in @i3luefire's screenshot are stretched/re-scaled.
`CustomizeToolbar` also states you should use 16x16 BMP images.
`DSpellCheck` Resources contain 16x16 BMP images and also an ICO

[2019-03-27 00:24] Yaron10 commented on #16
Hello Pavel,

:+1:
Another great execution. :)

Thank you very much.
BR

[2019-03-27 00:25] Yaron10 commented on #85
Hello Pavel,

The distinction you've made is very good. :+1:
(It made me realize again the amount of work involved in your brilliant development).

I still think that having all the diff-lines "paired" may be clearer in some cases.
But I trust your judgment that it's not worth the extra blanks. :)

Thank you. I do appreciate it.
BR

[2019-03-27 00:25] Yaron10 commented on #195
Hello Pavel,

:+1:
Please let me know if and when you'd like me to change or fine-tune the About Dlg.

Hurray ComparePlus!

BR

[2019-03-27 12:04] pnedev commented on #194
Hello Yaron,

Thank you very much for the quick response and the info.

Are you sure about that? I have doubts but I'll trust your judgement on this :+1:

I fully agree with your summary and I hope I didn't waste your time in vein creating the ico files you sent.

The bitmaps re-scaling is implemented here:
https://ci.appveyor.com/api/buildjobs/ke6fi16xspc1w4xr/artifacts/ComparePlugin.dll .

@i3lu

[2019-03-27 12:04] #194 closed

[2019-03-27 12:07] pnedev commented on #85
Hello Yaron,

In some cases, yes. But in general - not really.

Thanks,
BR

[2019-03-27 12:10] pnedev commented on #195
Hello Yaron,

Thank you for the help, it is highly appreciated.

BR

[2019-03-27 20:47] Yaron10 commented on #194
Hello Pavel,

Highly respecting your opinion, I'm trying to understand why you doubt that.
The *quality* of the images is **32bpp** (not 16). The discussion here is about *size*.
Why would re-scaling a larger image be better? - From my experience in image-editors it's often worse.

No problem at all. The conversion is really easy.

Thank you for the quick fix. :+1:
Could you please post a screensh

[2019-03-28 08:33] pnedev commented on #194
Hello Yaron,

I was not talking about the bpp (color) but the image resolution (size).

If the image is 16x16 pixels it needs to be resized upwards to fit in 32x32 area which requires some interpolation algorithm to generate the missing data.
If the image is 32x32 pixels and it needs to fit in area 16x16 then the image needs to be scaled downwards (decimated) which is done by discarding some of th

[2019-03-28 14:27] pnedev commented on #85
Hello Yaron,

Now the ignored lines are no longer marked.
Here is the new binary:
https://ci.appveyor.com/api/buildjobs/dwc86dxb6byavppl/artifacts/ComparePlugin.dll

This might look a bit strange in some cases. Tell me what you think.

Thank You and
BR

[2019-03-28 15:31] pnedev commented on #85
Hello again Yaron,

Not marking ignored lines in totally new blocks doesn't look good IMO.
If you believe that having such behavior might be useful I'll implement user setting to enable it.
Thanks.

BR

[2019-03-28 16:23] Yaron10 commented on #194
Hello Pavel,

Thank you for clarifying.

:+1:
And that's why in some case it would look worse than "up-scaling".

Yes, this may be the case - depending on the image.

Do you agree that the majority of NPP users use the toolbar un-scaled? - For them *proper* 16x16 images are certainly better.
Also, this is the size NPP provides.

If you would like to test 32x32, I'll make one at first and the rest

[2019-03-28 16:24] Yaron10 commented on #85
Hello Pavel,

Thank you for the changes. :+1:

...
Not marking ignored lines in totally new blocks doesn't look good IMO.

Could you pleas upload some files + a screenshot?
***
Could you please compare the `DiffTest` files? - Lines 14 are not aligned.

![תמונה](https://user-images.githubusercontent.com/10229320/55173628-ba9e9a00-5184-11e9-9aea-5a62cd892dcd.png)
***
 If you set `Changed threshold`

[2019-03-28 17:39] pnedev commented on #194
Hello Yaron,

Thank you for the quick reply.
Please don't bother creating 32x32 images.
The current ones look pretty good and fit perfectly.

I'll answer our other discussions later.

BR

On Thu, 28 Mar 2019, 19:29 Yaron10, <notifications@github.com> wrote:

[2019-03-29 15:53] pnedev commented on #85
Hello Yaron,

I will sometime later but your `DiffTest` files screenshot is pretty much what I meant.

As I explained before these blocks are "replaced" and are aligned only in the beginning. It just happens that the blocks contain ignored lines which are not marked.
I need to decide if it is worth the extra processing to align lines in this case.

That cannot be easily changed and I think I'll le

[2019-03-29 22:37] Yaron10 commented on #85
Hello Pavel,

...
I need to decide if it is worth the extra processing to align lines in this case.

Strictly from a user point of view, I think it is worth the extra processing.

...
That cannot be easily changed and I think I'll leave it that way.

:+1:
***

Sometimes the "first instinct" is best; - marking empty lines seems wrong (IMO) and against the "spirit of the command" whereas marking spa

[2019-04-01 20:03] MetaChuh commented on #195
hi @pnedev

awesome and very coool 👍

i'm here by pure coincidence.
(i had a user question today, where i recommended the compare plugin)

now i saw the vast amount of hours you spend almost every day for the last few months, with so many commits, and i tried out the latest appveyor build ... awesome ❤️

does your raised activity mean, that you are going to release Compare 3.0.0 rc0 aka ComparePlu

[2019-04-02 07:51] pnedev commented on #195
Hi @MetaChuh ,

Thank you for the kind words.
I'm glad to hear you like the new Compare. :)

@Yaron10 also deserves BIG Thanks - he dedicated a lot of his time to testing my development builds, providing useful feedback and suggestions and discussing how to make the plugin even better :+1:

Before the release I still have some issues to address and several enhancements to finish but yes, I really

[2019-04-02 14:25] pnedev commented on #85
Hello Yaron,

I can certainly understand your point of view but it is again a matter of interpretation.

For example if I compare source files if they differ only in the number of empty lines I would like to be shown "Files match". If in one of them a whole new function is added I would like to see the whole function as added block of lines (including the ignored ones) and not separated by empty l

[2019-04-03 00:12] Yaron10 commented on #85
Hello Pavel,

:+1:
Great. Thank you very much.
I assume this fixes the files you've tested as well.
("I will sometime later but your DiffTest files screenshot is pretty much what I meant.").
***
Reading my previous post, I find my argument too sophisticated.
It's actually more basic and simple: a line is more significant than a space.

But in the bottom line you're right: some users may prefer in-

[2019-04-03 00:15] Yaron10 commented on #195
Hello Pavel and @MetaChuh,

Pavel,
Thank you. I have a smile on my face too. :)

BR

[2019-04-03 01:25] MetaChuh commented on #195
lol ... now i've got this picture in my head, with all of us permanently grinning.
thank god that github does not have live cams, or we'd probably look like stoners to the rest of the world 😂

ps: awesome, thanks to you too @Yaron10 as you are a very thorough tester, and you somehow have a "correct as usual" status in my brain 👍

[2019-04-03 10:32] MetaChuh opened #196 "[Feature Request] highlight added words as green in a diff line."
hi @pnedev

currently added words and deleted words in a line diff, are both highlighted in the same colour orange, as defined by the <kbd>Change highlight</kbd>  colour at the settings.

**feature question**: would it be possible to:
* separate the line diff <kbd>Change highlight</kbd> colours in the settings for left and right panel.
* <kbd>Change highlight (R)</kbd> to highlight all added secti

[2019-04-03 13:51] pnedev commented on #85
Hello Yaron,

Well, this situation still looks a bit strange to me:

![UnmarkedIgnoredLines](https://user-images.githubusercontent.com/6064913/55482892-23c35900-562e-11e9-954f-cce0b465aab5.jpg)

But when the ignored lines are not marked that's a normal view.

------------------------------------------

I do.

This is interesting idea I like it. :+1:
Don't you think that it will be confusing for th

[2019-04-03 14:15] pnedev commented on #196
Hi @MetaChuh ,

That is an interesting idea, cool :+1:

I imagine the case when the compared files have only changed lines (yellow). Then your idea is very good because the green / red marked changes in the lines will still signify which of the files is the new one and which is the old.

Well, it can be done and it's not that troublesome on first look.

GitHub even uses light-red and light-green f

[2019-04-03 17:11] MetaChuh commented on #196
hi @pnedev

thanks for your quick reply.

oh, it was just a quick and dirty workaround idea to differ the settings for both panels, if this would be easier to code.
but you are absolutely right, same unified settings for both panels with e.g. <kbd>Change added highlight</kbd> and <kbd>Change removed highlight</kbd> instead of a single <kbd>Change highlight</kbd> would of course be the non-plus-ult

[2019-04-03 22:07] Yaron10 commented on #85
Hello Pavel,

This is the expected result IMO. :)
Well, with the new setting it's up to the user.

What do you think about replacing `Never mark...` with a sub-menu in `Ignore Empty Lines`?
- `Ignore and mark in-block lines` and  `Ignore and do not mark in-block lines`.

It's easy for me to come up with suggestions while you have to do the work.
But I do think it should be much clearer.

...
This

[2019-04-03 22:09] Yaron10 commented on #196
Hello Pavel and @MetaChuh,

This is indeed a nice suggestion which can be helpful in many cases. :+1:

CP uses a different color for Changed lines so that the user can instantly know whether the lines are related or not: green/red lines are not related/similar and brown lines are.

Marking inline-changes in green/red may cause confusion if the changed line is surrounded by Added/Removed lines.

Wh

[2019-04-03 22:10] Yaron10 commented on #195
Hello @MetaChuh,

Thank you for your kind words to Pavel and myself.
Pavel indeed deserves every superlative for his amazing work.

You seem to genuinely complimenting and expressing gratefulness.
I value and appreciate that.

And thanks again for your important contribution in the forum.

BR

[2019-04-04 00:12] MetaChuh commented on #196
hi @Yaron10

yes, you are absolutely correct, it must not create confusion under any circumstances, so it should not be a visual overkill, but just a slight optic improvement, even for all users that are used to the way it is.

i've made a little mockup screenshot for you, to check if these changes would confuse, or if the additional colour would be an improvement if implemented in ComparePlus, ev

[2019-04-04 00:21] MetaChuh commented on #195
btw community @Yaron10:
i've noticed that you haven't been active there for quite a while.
was there any event that you did not like, or just too much other things to do ?

many thanks and greetings

[2019-04-04 08:31] pnedev commented on #195
Hello guys,

Except the About dialog the ComparePlus transition is ready.
Here is the x86 binary:
https://ci.appveyor.com/api/buildjobs/w39gx5v3498s863i/artifacts/ComparePlus.dll

You'll need to adjust your Notepad++ plugin shortcuts, plugin config settings, etc. accordingly, sorry for the inconvenience.

BR

[2019-04-04 08:49] pnedev commented on #196
Hello @MetaChuh  and @Yaron10 ,

Thank you both for the feedback, I appreciate it. :+1:

@MetaChuh , thank you for the screenshots. Visualizing the idea is very helpful.

I personally find the current coloring visually more appealing. It may be because I'm used to it, I don't know. The green in the added highlight might be confused with Notepad++ selection highlighting (when you select a word and

[2019-04-04 09:44] pnedev commented on #85
Hello Yaron,

:+1:

That might be useful, especially in future versions if I implement other line ignore rules (user defined line ignore). But until then let's keep it simple.
I actually think that `Never **mark** ignored lines` might not be quite clear.
What about `Never **colorize** ...` ?

-----------------------------------------

I agree :+1:
That's a great idea, I really like it, no need to

[2019-04-04 10:58] MetaChuh commented on #195
ahhhhh, life is so good lately ...

i just hit **<kbd>Open Plugins Folder...</kbd>** 😉❤️ create the `ComparePlus` folder, drop `ComparePlus.dll` into it, and i'm done. 😃
(i don't use git2.dll)

big, big thanks @pnedev 👍

[2019-04-04 11:25] MetaChuh commented on #196
hi @pnedev and all

thanks for your answers.

What do you think?

i can only assume that it would be visually helpful ... except for italians of rome, they ignore all red/green traffic lights anyways 😉

if you think this could be a nice plus feature and not too hard to implement, you could e.g. ask at the community by showing mockup screenshots, or anything else you would prefer to show.
(this mig

[2019-04-04 15:11] pnedev commented on #85
Hello Yaron,

Everything is implemented here:
https://ci.appveyor.com/api/buildjobs/tn1ebvghkn0le3u9/artifacts/ComparePlus.dll

Please delete again your ini file.

BR

[2019-04-04 15:21] pnedev commented on #196
Hi @MetaChuh ,

Ok then, I'll consider implementing it (despite the Italians  of Rome ;) ).
Thank you. :+1:

BR

[2019-04-04 21:49] Yaron10 commented on #85
Hello Pavel,

And everything is implemented perfectly and beautifully.
:+1:
(Special thanks for remembering the RTL wording :) ).

`Never **colorize**` is certainly better now that the icons are never displayed.
And `Current File on Compare Start` is also very good.

I've noticed that opening/closing-block lines are not colorized now. :+1:
You changed that in the recent commit, correct?

Thank you

[2019-04-04 21:51] Yaron10 commented on #195
Hello Pavel and @MetaChuh,

Pavel,
Congratulations! :+1:

I wasn't sure whether i should ask you this.
But we've known each other for a long time now. So please don't mind.
`ComparePlus` is very nice. Have you considered `Compare++`?

@MetaChuh,
There was nothing in the forum I didn't like. On the contrary - I like reading your posts. :)
But life is dynamic and I indeed have had less free time rec

[2019-04-04 21:52] Yaron10 commented on #196
Hello,

@MetaChuh,
Thanks again for the suggestion and the screenshots. :+1:

Isn't it even worse in Naples? :)

Pavel,
Thank you for that too. Your hard work is much appreciated. :+1:

BR

[2019-04-05 00:51] Yaron10 commented on #85
Hello again Pavel,

I'm afraid there's a problem in my `Current File on Compare Start` suggestion. I apologize.

The setting (or rather the wording) is always correct on using `Set First`.
But it's wrong on initiating default-Compare in Double-View mode.

**STR:**
Set `Current File on Compare Start` to `new file`.
Set `Files Position` to `Old file in right view`(in LTR).
Have two files open in Dou

[2019-04-05 07:10] stiffsen commented on #177
I second this request. This would be a VERY useful feature. I have to diff xml configs so frequently and it is always a hassle.

Anyway, thanks for pointing out xmldiffs. I will use that for the time being.

[2019-04-05 07:39] pnedev commented on #195
Hello Yaron,

Thank you.

It's my pleasure :) and I don't mind at all :)

Actually I have but I don't want to use other chars than alphabetical. There is no particular reason for that perhaps it is a habit of the old days when there were considerably more restrictions on the files names than today.

Nice suggestion though :+1:

BR

[2019-04-05 12:51] Yaron10 commented on #85
Hello Pavel,

Two options you might find acceptable:
1. Add a `*` after `Current File on Compare`.
Add a `* Help` button opening the user-guide page in the Settings section.
(Not conventional but good IMO).

2. Add a `*` after `Current File on Compare`.
Add a `Help` group containing `* Learn more in the User-Guide.` or `See User-Guide for more info.`

`*` can be added to a few more not-quite-self-

[2019-04-05 12:53] Yaron10 commented on #195
Hello Pavel,

Thank you. It's certainly been my pleasure as well.

`ComparePlus` is great. :+1:
Thanks for the explanation.

BR

[2019-04-05 14:18] pnedev commented on #85
Hello Yaron,

I just finished some changes addressing the issue. It is just a name change.
I have also changed the name of `Set as First to Compare` command as it doesn't sound  that good anymore. The settings dialog is reordered and the separate highlight values are implemented.
Here is the binary, please have a look and tell me what you think:
https://ci.appveyor.com/api/buildjobs/1e3mfawmtp1qag

[2019-04-05 14:21] pnedev commented on #196
Hello guys,

The new feature is implemented in this x86 binary:
https://ci.appveyor.com/api/buildjobs/1e3mfawmtp1qag9e/artifacts/ComparePlus.dll .

Please write back if something doesn't seem right. Thanks.

PS. I haven't fully tested it yet because under Wine the color settings do not work.

BR

[2019-04-05 15:32] Yaron10 commented on #85
Hello Pavel,

Thank you for these changes. :+1:

`Current File on Single-View Compare` is not accurate either: it applies to Double-View as well on using `Mark to Compare`.
As you understand.

There's also a minor UI glitch (which I can fix later if you want).
![תמונה](https://user-images.githubusercontent.com/10229320/55638371-ab949900-57cf-11e9-9921-3627036feaab.png)

May I ask why? - IMO `Set a

[2019-04-05 15:33] Yaron10 commented on #196
Hello Pavel,

It seems to be working like a charm. :+1:

Thank you.
BR

[2019-04-05 23:11] MetaChuh commented on #196
@pnedev

wow, this is awesome and hyper-quick !!! 👍

here's a screenshot of it in action:
![Imgur](https://i.imgur.com/CkTG86H.png)

-----

i currently don't mind, as i can edit the `ComparePlus.ini` manually.

screenshot of the missing colours and colour picker on wine:
![Imgur](https://i.imgur.com/7SKuCc5.png)

do you know what causes the missing colour picker and colour display at the compare c

[2019-04-06 20:23] MetaChuh commented on #196
closing with https://github.com/pnedev/compare-plugin/commit/8a94e6828a125740fc122cac27024818d2949769

[2019-04-06 20:23] #196 closed

[2019-04-09 11:47] pnedev commented on #196
Hello @MetaChuh  and @Yaron10 ,

Sorry for the late reply guys and thanks for testing.

@MetaChuh ,

Yeah, good point, but I wanted to test the Settings dialog as well.
I don't know what causes the missing colors in Setting on Wine. I suspect it is due to some missing Wine libraries or partially implemented ones.

BR

[2019-04-09 16:18] pnedev commented on #85
Hello Yaron,

I have reverted the change to some extent.
I will implement separate option for new/old file in default single-view compare.
I didn't have much time these days.

Thank you and
BR

[2019-04-10 07:36] palbr opened #197 "Difference not correctly identified"
I don't know if this is a duplicate to #141 or not. But I have discovered the following issue:

**Steps to reproduce:**
Open the two text files from [197-SampleFiles.zip](https://github.com/pnedev/compare-plugin/files/3062528/197-SampleFiles.zip) and compare them.

**Actual behaviour:**
![WrongDiff](https://user-images.githubusercontent.com/2083705/55859876-4647fb80-5b73-11e9-935f-14268150cc2d.png

[2019-04-10 07:43] palbr commented on #197
Changing positions of the two file ("file2.txt" on the left and "file1.txt" on the right) does give the correct result:
![NoProblemIfFilesSwitched](https://user-images.githubusercontent.com/2083705/55860650-097d0400-5b75-11e9-9ba4-70e0cb365238.PNG)

[2019-04-10 16:07] pnedev commented on #197
Hello @palbr ,

Thank you for reporting this issue.

The first problem is fixed in the current development version (different line marked as added).
I'll need to investigate the second one - when you expect both lines to be considered changed (yellow mark).

BR

[2019-04-10 16:18] pnedev commented on #197
Hello again @palbr ,

It appears the lines are correctly marked as changed in the latest development version too.

There are a lot of changes between the development version and Compare v2.0.
My plans are to release it soon but I still have some issues to fix. It will be released as a new plugin (under new name). For more info on that please check https://github.com/pnedev/compare-plugin/issues/19

[2019-04-10 16:18] #197 closed

[2019-04-11 07:01] palbr commented on #197
Thank you for your quick reply and your great work at the compare plugin! :smiley:
I use it almost daily.

[2019-04-11 07:01] palbr commented on #197
Thank you for your quick reply and your great work at the compare plugin! :smiley:
I use it almost daily. I am looking forward to the new plugin!

[2019-04-11 13:16] Yaron10 commented on #85
Hello Pavel,

I couldn't write earlier.

Are you sure it's worth a separate setting?
Reverting completely or implementing `Current File on Compare Start` (even without any comment) seems better IMO.

Shouldn't `Warn about encodings...` be before `Align...` and `Never...`?
***
I understand you'd rather not include a user-guide in CP.
How about removing it on redesigning the About Dlg?
I'm not keen

[2019-04-11 13:17] Yaron10 commented on #197
@palbr,

You can download Pavel's latest development version in:
https://ci.appveyor.com/project/pnedev/compare-plugin.

[2019-04-12 08:11] palbr commented on #197
@Yaron10,

thank you for the link to the build system!

[2019-04-12 14:18] Yaron10 commented on #197
You're welcome.

[2019-04-15 11:06] pnedev commented on #85
Hello Yaron,

I don't have much time these days either.

OK, no problem :+1:

I'll write again soon.

BR

[2019-04-15 21:50] Yaron10 commented on #85
Hello Pavel,

Whenever you have free time it's appreciated.

BR

[2019-04-23 13:24] pnedev commented on #85
Hello Yaron,

I reverted to the last `Set as Firs ...` approach and moved `Warn about encodings ...`.
This is the x86 **[binary](https://ci.appveyor.com/api/buildjobs/m251rc0kir14x5ox/artifacts/ComparePlus.dll)**.

Thank you.

BR

[2019-04-23 13:24] #85 closed

[2019-04-23 21:17] Yaron10 commented on #85
Hello Pavel,

It's not quite the old approach.
Currently if you Set First to Old, the current file on default Compare in Single-View is also Old.
I'm used to having First as Old and current on default Compare as New.
I think other users would also like to have this option.

Do you think two separate settings would be better?

:+1:

Thank you. I appreciate your work.
BR

[2019-04-24 08:12] pnedev commented on #85
Hello Yaron,

You are right, I forgot to undo that.

I used to think so, yes.

But then you wrote

and I decided it's not worth it.
It is mainly because we already have the `Prev vs. Current` or `Next vs. Current` setting for default single view compare which is not completely the same but kind-of allows working around this by simply switching files and starting the compare from the other.

I migh

[2019-04-24 13:43] Yaron10 commented on #85
Hello Pavel,

I thought the current implementation might be intentional and therefore suggested two separate settings as a better alternative.

According to your approach that `Set First` should be presented to the user as the main comparison method, the linkage between the `Set First` setting and default compare in Single-View can be kept:
If it's Old (default), the current file on default compar

[2019-04-24 14:48] pnedev commented on #85
Hello Yaron,

I think as the things are at the moment those settings are separate and shouldn't be linked.
`Set as First` is explicit selection of the file to compare - set as new or old.
Current file in default single view is a separate thing - you haven't explicitly used `Set as First` so that setting shouldn't affect anything.

Are you talking about the settings order?
If yes, then let me expla

[2019-04-24 19:08] Yaron10 commented on #85
Hello Pavel,

:+1:
So it's either reverting completely or having two settings, correct?

`Set First` is the first command and icon.
Anyway, it's not that important.

Thank you.
BR

[2019-04-24 21:48] ackerman76 opened #198 "hangs / crashes notepad++ 7.5.9, 64 bit"
Hung and crashes notepad++ after about 30%. Cannot cancel.

[2019-04-25 08:28] pnedev commented on #85
Hello Yaron,

Correct. I'm planning to revert completely for now. Compare v2 works that way and nobody seems to have problems with that so far. I might implement additional setting in the future but my free time is scarce and there are some other more important problems to address.

True but you might call `Set as First` a preliminary step that is not absolutely required.
And the files placement i

[2019-04-25 08:37] pnedev commented on #198
@ackerman76 ,
What do you mean by "crashes notepad++" ?

If it simply hangs then I suppose you are comparing either very big files or very different files (with lots of changes).
You need to wait longer. I know there is no indication of something happening but the compare is still running.

[2019-04-25 15:39] ackerman76 commented on #198
Oh yes, I just let compare plugin complete and it took 9 minutes ROFL, using 24% of my 6 cores!

Yesterday I just gave up and opened a command window in VisualStudio and typed:
Tools.DiffFiles pathFile1 pathFile2

And it diffed immediately. VisualStudio is amazing by comparison to Notepad++, which freezes as I scroll. Microsoft has been putting a lot of effort into VisualStudio since 1997 so that'

[2019-04-25 19:18] Yaron10 commented on #85
Hello Pavel,

:+1:

I suppose that `Set First` defaulted to `New` is not intentional.

Thank you. I appreciate your time and work.
BR

[2019-04-27 13:23] pnedev commented on #198
@ackerman76 ,

You are right, Visual Studio is a great product.
Please feel free to use it instead of Notepad++ and Compare plugin.

Thank you for the feedback, I appreciate it.

[2019-05-03 08:40] MetaChuh commented on #184
i believe this issue can be closed.

ComparePlugin loads without any issues on 7.6.6, if installed via plugins admin, or manually deployed to the correct folders.

many thanks and best regards.

[2019-05-04 11:19] pnedev commented on #184
You are right @MetaChuh .
I kept it for a while as a reference for the users with the same problem but I suppose it is not needed anymore.
Thanks.

BR

[2019-05-04 11:19] #184 closed

[2019-05-10 23:48] chcg commented on #195
@pnedev Just let me know if it is time to finally update sqlite to 3.28.0 https://sqlite.org/changes. and libgit2 to https://github.com/libgit2/libgit2/releases/tag/v0.28.1

[2019-05-11 17:46] marb99 opened #199 "[Info] How compile compare-plugin in Visual Studio 2019??"
How compile compare-plugin in Visual Studio 2019??

Visual Studio 2019 not Windows XP support for C++

[2019-05-13 08:29] pnedev commented on #195
@chcg ,
I still have unfinished work on ComparePlus.
I'll certainly let you know when I'm ready so you can update the libraries before the actual release. Many thanks for that :+1:

[2019-05-13 08:36] pnedev commented on #199
@marb99 ,

I don't have Visual Studio 2019 so I can't know for sure but you can try without XP support (use `PlatformToolset` without `xp`)
`<PlatformToolset>v140_xp</PlatformToolset>` -> `<PlatformToolset>v140</PlatformToolset>`

Please close the issue if you try and verify your query is solved.

BR

[2019-05-14 09:12] i3fe-at-work opened #200 "official npp plugin"
Why is this not in the official notepad++ plugins menu?

[2019-05-14 11:46] pnedev commented on #200
You mean ComparePlus ?
Because it is not officially released yet.

[2019-05-14 11:46] #200 closed

[2019-05-15 17:51] andrecool-68 opened #201 "In Notepad++ v7.7 scroll synchronization does not work"
In the new version of Notepad++ v7.7 scroll synchronization does not work during file comparison (plugin ComparePlugin2.0)

Notepad++ v7.7   (64-bit)
Build time : May 14 2019 - 01:26:08
Path : C:\Users\Uzeer\Desktop\npp.7.7.bin\x64\notepad++.exe
Admin mode : ON
Local Conf mode : ON
OS : Windows 7 (64-bit)
Plugins : ComparePlugin.dll DSpellCheck.dll HTMLTag.dll JSMinNPP.dll mimeTools.dll NppConvert

[2019-05-16 10:55] #199 closed

[2019-05-16 11:02] pnedev commented on #201
@andrecool-68 ,

Strange,
I couldn't reproduce the issue on Notepad 7.7 (32-bit under Wine) neither with Compare v2 nor with ComparePlus.
I'll try again on native Windows and with 64-bit version.
Thanks for the feedback :+1:

[2019-05-16 12:30] andrecool-68 commented on #201
@pnedev
![1](https://user-images.githubusercontent.com/3471892/57853868-855f1180-77ef-11e9-8f49-af7189796446.gif)

[2019-05-17 07:50] pnedev commented on #201
@andrecool-68 , @rddim ,

I didn't test Compare v2 I consider it kind of "obsolete" now that I'm close to releasing ComparePlus.

But I did test with ComparePlus and the issue is present only on 64-bit Notepad++ 7.7.
That's kind of normal considering the variable types and notifications changes in the new Scintilla.

I'll fix it some time soon, thanks again for letting me know about the problem :+

[2019-05-23 10:35] CaptainParalytic opened #202 "Compare Selected Lines not on menu"
According to the help.md file there should be a menu item for "Compare Selected Lines", but this is not appearing.

[2019-05-23 11:31] VasanthapuramMahesh opened #203 "Add the Option "Show only Differences""
I need this feature. When select this option only shows modified ones.

[2019-05-23 11:41] pnedev commented on #202
The help file is made for the development version which is not released yet and is also quite outdated.
Put it shortly, currently you cannot rely on the help file.

For the `Compare Selected Lines` you'll need to wait for the new plugin official release or use a development build (which is OK but has some unfinished / unfixed issues).

[2019-05-23 11:41] #202 closed

[2019-05-23 11:44] pnedev commented on #203
Duplicate of [**this**](https://github.com/pnedev/compare-plugin/issues/185) issue.
It is implemented in the current development build that is to be released some time in the near future.

[2019-05-23 11:44] #203 closed

[2019-05-26 20:36] fkl79675 commented on #201
I experienced the same issue. Thank you pnedev for working on a fix and an all new version.

(@andrecool-68 How did you create this gif?)

[2019-05-26 22:17] andrecool-68 commented on #201
@fkl79675 https://github.com/NickeManarin/ScreenToGif

[2019-05-26 22:46] userdocs commented on #198
Hopefully i can elaborate on this as this sound like an issue i experienced.

Using the current appveyor build with x64  `git2.dll` from your repo.

Let's say i have 400 lines and they differ by one word.

File one

[code]

File two

[code]

This happens.

![example](https://user-images.githubusercontent.com/16525024/58387973-d650e000-800f-11e9-9b6b-fc1babafc79b.jpg)

It does not ever complete. Th

[2019-05-27 08:44] pnedev commented on #198
Thanks @userdocs ,

I know what causes this and I'm working on a fix.
I've marked the issue as `illegal` because neither the plugin crashes, nor it crashes Notepad.
The change detection algorithm in certain cases takes VERY long time.

[2019-05-27 18:30] userdocs commented on #198
You're welcome @pnedev.

Aside from that i find your plugin immensely useful and use it all the time. That was the only real issue i ever experienced for my day to day casual compares without leaving notepad.

[2019-05-28 04:47] Stady234 commented on #201
I closed my duplicate issue.. sorry.  Interested in the new version!

[2019-05-28 07:37] pnedev commented on #201
Thanks @Yaron10 :+1:

[2019-06-02 17:38] pidgeon777 opened #204 "[Feature] Live preview of newly added changes during "Compare" mode"
Let's suppose I'm comparing two files, activating the two views compare window. Let's also suppose that after the compare I modify one of the two files in one of the two vies, for example by adding text. In the actual implementation of Compare Plugin, new changes won't be displayed in the diff mode until I manually run the "Compare" command.

It would be great to automatically display the new chan

[2019-06-02 17:47] pidgeon777 opened #205 "[Feature] Run Compare plugin outside of Notepad++"
It would be nice to add an option/external tool to the Compare Plugin so that it could be possible to call it even outside Notepad++ for comparing two files.

This is what I mean:

https://notepad-plus-plus.org/community/topic/16056/how-to-get-an-external-diff-viewer-with-n-and-the-last-compare-plugin-v2-0-0-0

[2019-06-02 18:00] pidgeon777 opened #206 "[Enhancement] A revised behaviour of the "Navigate to the next text difference" command"
Let's suppose I'm comparing two files in "Compare" mode. When I press the "Tab" key, then the Compare plugin activates the selection on the next text change starting from the cursor position.

This is an annoying behaviour. "Tab" key is usually used for indentation in Notepad++, thus I'm not able to indent text anymore in Compare mode.

My suggestion would be to simply add an option so that a user

[2019-06-02 18:05] pidgeon777 opened #207 "[Feature] Add an option to decide which SVN/Git revision to check against the chosen file"
Actually, it is possible to compare a file against the last Git/SVN revision detected. But what if there is more than one revision available?

It would be great something like this: a user activates the "SVN Compare" command, the plugin detects multiple revisions of that file and ask the user which revision to choose for the comparison.

[2019-06-02 22:27] pidgeon777 opened #208 "[Bug] No more undo action available after running "Compare" command"
Here is what happens:

1. You choose the first file to be compared.
2. You choose the second file to be compared and run the "Compare" command.
3. You modify some text of either one of the files in the side-view comparison preview.
3. You run the "Compare" command again.

This leads to a refresh of the compare window but also to a deletion of the undo history as an effect. So it is not possible an

[2019-06-03 10:49] pnedev commented on #204
@pidgeon777 ,

The automatic re-compare on change is already implemented and will be in the new plugin release (coming soon).
Thanks.

[2019-06-03 10:49] #204 closed

[2019-06-03 11:01] pnedev commented on #205
Hi @pidgeon777 ,

Thanks for the suggestion but external Compare launcher is a separate binary which I'm not planning to support. Compare is a plugin for Notepad and is meant to be used with it.
BTW, the external Compare launcher was available in v1.5.6.7 (AFAIR) and it used to work with v2.0 but it has a bug in the Notepad++ plugin menu tracing (you can read more [**here**](https://notepad-plus-p

[2019-06-03 11:09] pnedev commented on #208
@pidgeon777 ,

This is already fixed in the new plugin release (coming soon).
Only on rare occasions the undo list will be deleted (when there is a difference in the very first line of the document). It is currently not possible to fix this (due to Scintilla limitation) but hopefully this will happen rarely and can be worked around if new line is inserted in the beginning of the file.

Thanks.

[2019-06-03 11:09] #208 closed

[2019-06-03 11:16] pnedev commented on #207
That would be tedious IMO. Those commands are meant to help the user quickly see the changes made against the current HEAD of the repository, nothing more.
There might be many revisions of the file and it is out of the scope of Compare plugin to track them all and provide capability to select among them.

[2019-06-03 11:16] #207 closed

[2019-06-03 11:17] #205 closed

[2019-06-03 11:23] pnedev commented on #206
@pidgeon777 ,

Which version of Compare plugin are you talking about?

In the coming version of the plugin `Alt-PageUp` and `Alt-PageDown` will be used as default key combinations for going to the next/previous diff respectively.
You can change the default shortcut from Notepad++ menu:
`Setting->Shortcut Mapper..->Plugin Commands`

[2019-06-03 13:26] pidgeon777 commented on #206
Hello, my Compare plugin version is v2.0.0.

Here is what I mean:

![l9jvlC6cCx](https://user-images.githubusercontent.com/13739892/58804742-e457bf80-8612-11e9-8acc-893373465f41.gif)

As you can notice, the Tab key leads to a shift of the text selection to the next diff. When the last diff is reached, the Tab key start acting as normal. Please, let a user choose which key to assign to this diff na

[2019-06-03 13:34] pidgeon777 commented on #207
I understand, maybe the SVN/Git client could be a better choice in this case.

[2019-06-03 13:36] pidgeon777 commented on #208
Thank you. Hopefully, that special condition will occur rarely.

[2019-06-03 13:49] pnedev commented on #206
Strange, I've never experienced such problem.
I'm pretty sure it has nothing to do with Compare plugin. Actually, Compare plugin doesn't have that functionality.
Could you check your Compare plugin menu and see if there is any command associated with `Tab` key?
Could you also try disabling all your other plugins?
Are you using Notepad++ on Linux under Wine or your operating system is native Window

[2019-06-03 15:40] Pyre909 commented on #201
Hi @pnedev,

I tested this in the commit **Update to Notepad++ 7.7 API**. It's working for me, I don't know what others are experiencing. I have only tested this only comparing with XML files.

Debug Info:
Notepad++ v7.7   (64-bit)
Build time : May 25 2019 - 19:46:35
Path : C:\Program Files\Notepad++\notepad++.exe
Admin mode : OFF
Local Conf mode : OFF
OS : Windows 10 (64-bit)
Plugins : ComparePlu

[2019-06-03 16:07] pidgeon777 commented on #206
I'm using Notepad++ v7.6.3 on Windows 10 Pro x64 and here are all of my Compare plugin settings:

![image](https://user-images.githubusercontent.com/13739892/58808107-a1e5b100-8619-11e9-865f-a3891c9a83f2.png)

![image](https://user-images.githubusercontent.com/13739892/58808115-a5793800-8619-11e9-862b-3e3a5099a00e.png)

![image](https://user-images.githubusercontent.com/13739892/58808121-a8742880-

[2019-06-03 16:33] pidgeon777 commented on #204
Another question, would it be possible to activate the live preview mode as an option?

[2019-06-04 07:46] pnedev commented on #201
Thanks for testing and sharing @Pyre909 .
It should be working for everybody.

The issue is fixed for ComparePlugin v2, here are the [**x86**](https://ci.appveyor.com/api/buildjobs/go5h6x448jg551v8/artifacts/ComparePlugin.dll) and **[x64](https://ci.appveyor.com/api/buildjobs/g4bidp2g30xf795h/artifacts/ComparePlugin.dll)** binaries.

[2019-06-04 08:44] pnedev commented on #206
Hi @pidgeon777 ,

Very good analysis :+1:

But I wouldn't call it "feature" :)
This hidden plugins interaction shouldn't happen. It is not harmful though so I'm not going to focus on this now (if at all).

I suppose the problem is that both plugins use the same Scintilla (the Notepad++ editing component) indicator number and the bad part is that it is unavoidable. This is because there is no way f

[2019-06-04 08:44] #206 closed

[2019-06-04 09:33] xylographe commented on #206
Hello Pavel,

Ideally, I suppose, this would be an NPP service: plug-in asks NPP for unused Scintilla indicator number, and NPP reserves it until the plug-in releases it (or until the end of the session). Unfortunately, all plug-ins would have to update to using this service, a bit like advisory flock(2) file locks. :)

Alternatively, one could, perhaps, pick the indicator number randomly? Dependi

[2019-06-04 11:30] pidgeon777 commented on #206
@pnedev

Understood. If possible please leave this "feature" as is without fixing it, if it is not harmful or if it doesn't represent a bug: navigating/editing the code this way is rather comfortable and helps you to quickly focus on the small text differences among the shown changes: this is why I suggested it to be a feature of your plugin.

[2019-06-04 11:35] pidgeon777 commented on #201
Hello pnedev, just a question, does this new release include all of the fixes you mentioned during these last days? For example, undo history bug, live compare feature, etc.

Thanks again.

[2019-06-04 12:04] pnedev commented on #206
Hello @xylographe ,

Long time no "see" :)

You are right of course.
Notepad++, being the "owner" ("holder") of all Scintilla and the plugins should act like a dispatcher for resources (indicator numbers in this case) but unfortunately, currently it does not have such API and functionality.

Picking a random number is interesting idea but will lead to unpredictability and I would rather have a pre

[2019-06-04 12:12] pnedev commented on #201
Hello @pidgeon777 ,

No, it is the official Compare 2.0 but with changed Notepad++ API so the people who moved to Notepad++ 7.7 can have a working Compare.

The fixes you are talking about will be in the next official release which is going to be completely new plugin (it will be called ComparePlus). You can read more about that [**here**](https://github.com/pnedev/compare-plugin/issues/195).

BR

[2019-06-04 12:14] pnedev commented on #204
@pidgeon777 ,

Yes, this is how it is implemented.

[2019-06-04 18:15] pidgeon777 commented on #201
Cool, thank you!

[2019-06-04 19:37] pidgeon777 commented on #204
Great!

[2019-06-04 19:39] pidgeon777 commented on #206
@pnedev

You're referring to the DoxyIt + Compare plugin combo, or only to the Compare plugin case?

[2019-06-04 19:48] pidgeon777 commented on #205
Thanks for the great explanation. I made a few attempts and I successfully compiled the source available here, which included a hotfix committed in 2018:

https://bitbucket.org/uph0/compare/src/master/

By doing so I obtained a compare.exe executable which perfectly works even with your current Compare plugin. I haven't tested it with Notepad++ v7.7, yet.

Just out of curiosity, do someone knows w

[2019-06-05 07:44] pnedev commented on #206
@pidgeon777 ,

DoxyIt + Compare plugin

[2019-06-05 08:16] pnedev commented on #205
It should work as long as the plugin's name is the same and the compare command's name is the same (`Compare` / `Compare`)

I have no idea.

[2019-06-05 09:57] pidgeon777 commented on #205
Is there any chance this could change in your next plugin release?

[2019-06-05 10:00] pidgeon777 commented on #206
This is ok for me. If I wish to stop this behaviour, I would simply need to press the Esc key. But by doing so I would lose the highlighted text selections. But these could again be recovered by simply making another manual compare.

[2019-06-05 10:44] pnedev commented on #205
It will certainly change because I will release new plugin, not a new version of the current one.
The new plugin will be called `ComparePlus` so the launcher needs to be updated to search the Notepad++ menu for `ComparePlus` / `Compare`.

BR

[2019-06-05 11:13] pidgeon777 commented on #205
Perfect, then I'll modify the source of the launcher to reflect your new plugin changes. Other than that, do you think there could be someone else missing, which I should take into consideration when modifying the source?

Thanks again.

[2019-06-05 13:18] pnedev commented on #205
I didn't quite understand your question.
Did you mean

If yes then no, there shouldn't be anything else.

BR

[2019-06-05 13:36] pidgeon777 commented on #205
I meant exactly that, for some reason I posted *someone* instead than *something*.

[2019-06-19 12:44] rrightwrong opened #210 "Unable to Download Release Files"
Clicking on the download links for release builds does not start download. Gets Timed out. Can you provide any alternate link for download...

[2019-06-19 12:58] pnedev commented on #210
Perhaps a temporary server issue.
Retry again after a while.

[2019-06-25 08:02] #210 closed

[2019-07-09 03:24] RenniePet opened #211 "Change default color settings dependent on selected theme"
This is related to https://github.com/pnedev/compare-plugin/issues/193

I, too, like to use a theme with light text on a dark background, so I'm always running Notepad++ with the Zenburn theme.

![image](https://user-images.githubusercontent.com/4259011/60856671-39858300-a208-11e9-9544-6b63c576f695.png)

Now I realize that I can fix the problem by changing the color settings, and I have tried to d

[2019-07-09 14:36] pnedev commented on #211
Hello @RenniePet ,

I'll think about that, thanks.

BR

[2019-07-24 17:03] dhanotra commented on #201
Enable this while doing compare.
View -> Synchronize Vertical Scrolling

[2019-07-26 02:31] b-morgan commented on #201
I'm confused.

I downloaded the x64 binary and installed it in the Plugins folder, opened Notepad++ 7.7.1 (64-bit), and started a compare. The Synchronize Vertical Scrolling keeps getting turned off. Did I misunderstand "the issue is fixed"?

[2019-07-26 07:41] pnedev commented on #201
Don't do that.

If your Notepad++ version is 7.7 or higher use these Compare 2.0 versions:

x86: https://github.com/pnedev/compare-plugin/releases/download/v2.0.0_npp7.7/ComparePlugin_v2.0.0_npp7.7_x86.zip

x64: https://github.com/pnedev/compare-plugin/releases/download/v2.0.0_npp7.7/ComparePlugin_v2.0.0_npp7.7_X64.zip

[2019-07-26 12:09] bigrobshag commented on #184
I found out that NPP is expecting ComparePlugin.dll also in Path \ComparePlugin\
"C:\Program Files\Notepad++\plugins\ComparePlugin\ComparePlugin.dll" additional to the two others git2.dll and sqlite3.dll.
Used Sysinternals ProcMon to find out - after I took several tries following the boards proposals...

[2019-08-01 03:24] olma2077 opened #212 "Moved lines are not detected correctly"
Similar issue to #162 , but looks like problem is only in Unicode characters this time.
![image](https://user-images.githubusercontent.com/2031502/62263422-1f317480-b457-11e9-8c14-ce09ac5f903b.png)
 [old.txt](https://github.com/pnedev/compare-plugin/files/3454773/old.txt)
[new.txt](https://github.com/pnedev/compare-plugin/files/3454772/new.txt)

[2019-08-01 08:52] pnedev commented on #212
Thanks for letting me know.
That is fixed in my current development and will be OK in the next release.

BR

[2019-08-07 08:43] okainov opened #213 "No plugin in menu"
What I tried:

- Installing plugin from NPP Plugin Admin
- Copying plugin files manually to "Plugins" folder
- Copying plugin files manually to "Plugins\\ComparePlus" folder (as mentioned in a readme for some reason)

None of those work, plugin is not appearing the the Plugins menu.

Npp 7.7 32-bit
Windows 10

[2019-08-07 08:59] xylographe commented on #213
[code]
The `\plugins` directory must be located in the directory that contains the file `notepad++.exe`.
Installing plug-ins below `%APPDATA%\Notepad++` is not possible in NPP 7.7 and later.

[2019-08-07 09:17] okainov commented on #213
Oh, seems it was important to have the very same name for the folder and DLL. Now it works for me. But these issues are still here:

- Readme is not in sync with actual files. Files are "ComparePlugin" but readme refers to "ComparePlus"
- Installation from PluginAdmin from NPP doesn't work...

[2019-08-07 09:47] xylographe commented on #213
ComparePlus is the name of the next generation Compare plug-in, which has not been released yet.

There are more than a few people reporting that installing plug-ins (not limited to Compare) with the new PluginsAdmin doesn't work. I believe this is due to the built-in PluginsAdmin being less robust than the former PluginManager. Also, plug-ins are no longer downloaded from a central server, but di

[2019-08-07 10:12] xylographe commented on #213
BTW if you open the `\plugins\Config\nppPluginList.dll` file in NPP, and search for `"npp-pluginList"` you can see the details (`"folder-name", `"repository"`, `"version"`, etc) for each plug-in.

[2019-08-08 13:13] hexxor commented on #213
I had this too with Win 10 and Np++ 7.7.1 (32bit).
I fixed it by copying the ComparePlugin.dll also into C:\Program Files (x86)\Notepad++\plugins\ComparePlugin directory. I was using the manually downloaded ComparePlugin_v2.0.0_x86.zip

[2019-08-13 08:33] pnedev commented on #213
Hi,

Sorry for the late reply.
@xylographe has answered very well, thanks :+1:

I'll see what I can do about the readme.

BR

[2019-08-13 08:33] #213 closed

[2019-08-22 22:58] pl71 opened #214 "[Feature request] Handling INI files"
Hi,
Is it possible to handle INI files with this plugin?
It means to check between two INI files diffs in values after first "=" sign.

Presently the whole lines are compared and when differences exceed some threshold (How much?) lines are regarded as new.

From help file:

What means "most of"?

[2019-08-23 07:27] pnedev commented on #214
Hi,
In the current development version you can set the threshold that defines what portion of the lines needs to match to consider it a "changed" line.
I'm going to release a completely new plugin but I'm not sure when yet as I'm advancing very slowly.
BR

[2019-08-27 09:16] broszkiet commented on #201
Uninstall  Compare plugin using Plugins Admin and install again.

[2019-08-28 20:26] urthmover opened #215 "compare from command line"
What is the syntax to execute the compare plugin from the command line?

I uncovered that previously this was accomplished using the compare.exe executable that resided within the plugins directory.  Unfortunately, that executable no longer exists for the 64bit compare plugin.  The current plugins directory only has the following:

/Program Files/Notepad++/plugins/ComparePlugin
ComparePlugin
Compa

[2019-08-29 12:37] pnedev commented on #198
OK, I have finally made this much better in the current development stage.
Having many very similar lines is still the most tedious compare case but now it is faster and you also have much more informative progress indication and more responsive cancel.

The fix will be in the new plugin release.

[2019-08-29 12:37] #198 closed

[2019-08-29 12:51] pnedev commented on #215
Hi,

When I started maintaining the plugin myself I had removed the loader as it is not part of the plugin but a simple launcher.

If you need that you can get the loader binary source from here
https://bitbucket.org/uph0/compare/src/master/
and build it yourself.

There are also binaries there but those have an issue and might not work. The source itself is fixed but not pre-built.

The loader re

[2019-08-29 12:51] #215 closed

[2019-08-29 13:04] urthmover commented on #215
Thank you for the quick response.  I’ll grab the source and build the binary myself.  Thanks for your effort and work on this project.

[2019-09-05 23:44] NeilTohno opened #216 "Not workinng in npp.7.7.1"
![20190906074156](https://user-images.githubusercontent.com/28284594/64391125-23663880-d07a-11e9-9f3c-bcd9f2616499.jpg)

Oh,  This is wired.
must use Plugin manager.
![20190906080356](https://user-images.githubusercontent.com/28284594/64391951-3b8b8700-d07d-11e9-9671-e8b1b3d3f689.jpg)

[2019-09-08 14:24] pnedev commented on #216
What exactly is not working?
Are you talking about Compare v2 plugin?
Can you provide some more details?

[2019-09-11 20:10] lmullern commented on #216
Same issue here.
Notepad++ 7.7.1 ; I've installed the Compare plugin manually following the instructions described on https://github.com/pnedev/compare-plugin#installation , restarted Notepad++ but the Compare doesn't display on the Notepad++ Plugin menu.
Please advise.
Thank you,

[2019-09-14 13:43] JanHBade commented on #216
fixed today? (tested in 32Bit and 64Bit)
Install over Plugin Manager works!

[2019-09-16 08:18] pnedev commented on #216
The instructions in the README are misleading for Compare plugin, sorry guys, my fault.
I'm working on completely new compare plugin named ComparePlus. It is not ready and released yet but the README is modified to address its installation.
I have put a note in the README to describe the difference if you are trying to install the current Compare v2 plugin.

BR

[2019-09-29 16:14] Petewg opened #217 "Feature request: Compare selected text with Clipboard contents"
Hi,
few days ago I made a same [request](https://github.com/notepad-plus-plus/notepad-plus-plus/issues/6177#issue-498765480) in the  Npp++ repo.
During the discussion, participants told me to address my request here. So, if you've time, please take a look and see if it would be possible to add the mentioned functionality into Compare-plugin. Thanks!

[2019-09-30 19:08] pnedev commented on #217
Hi @Petewg ,
I'm currently working on a new compare plugin named ComparePlus plugin. It has `Compare Selections` feature which can be used for your needs. You'll need to paste the clipboard content to a new document and compare that against your selection.
Unfortunately I cannot tell for sure when I'll release the new plugin.
BR

[2019-10-01 06:08] Petewg commented on #217
Hi @pnedev ,
The requested feature is not of high urgency, we can certainly wait for it.
[Don't know whether is better to keep this issue open or close it now, perhaps the only reason to keep it open, is the fact that closing it the moment when it will be finally ready,  the GitHub notifier will inform/remind us about.]
Thanks in advance.

[2019-10-04 06:17] harnnless commented on #194
@pnedev  x64 version still has the same issue, please take a look
![image](https://user-images.githubusercontent.com/17297532/66185329-a696a080-e6b1-11e9-82b9-e3141dcfe482.png)

[2019-10-04 09:15] pnedev commented on #194
@harnnless ,
The fix is done and is OK but it is not officially released yet.
It will be in the new plugin called ComparePlus. I'm still working on it.
BR

[2019-10-08 12:39] i3luefire commented on #194
Great work, thanks all.

On Fri, Oct 4, 2019, 04:15 Pavel Nedev <notifications@github.com> wrote:

[2019-11-02 16:46] ballios commented on #201
I confirm that in Notepad++ v7.8.1 scroll synchronization does not work (for ComparePlugin v2.0.0 npp7.7 x64)!
Please fix it to make it convenient to work!

[2019-11-04 14:05] pnedev commented on #201
Does anyone else experience the same issue as @ballios ?

[2019-11-05 00:29] Stady234 commented on #201
Mine works...
![image](https://user-images.githubusercontent.com/32916064/68169266-160de300-ff31-11e9-9af7-713d9bf11b0b.png)

[2019-11-05 11:11] pnedev commented on #201
Thanks @Stady234 .

@ballios ,
Can you please double check it doesn't work on your side?

[2019-11-05 11:13] ballios commented on #201
I confirm that in Notepad++ v7.8.1 **scroll synchronization** does not work.
I need to switch on "Sync Verticle Scrolling" button manually...

[2019-11-05 11:14] ballios commented on #201
I confirm that in Notepad++ v7.8.1 **scroll synchronization** does not work.
I need to switch on "Sync Verticle Scrolling" button manually...

[2019-11-05 11:15] ballios commented on #201
I confirm that in Notepad++ v7.8.1 **scroll synchronization** does not work.
I need to switch on "Sync Verticle Scrolling" button manually...

[2019-11-05 11:16] pnedev commented on #201
Ok, I'll check that

[2019-11-05 12:12] ballios commented on #201
Moreover, your **ComparePlugin v2.0.0 npp7.7 x64** (there is no such problem in default ComparePlugin v2.0.0) does not always work well when comparing long lines, for example code. The impossibility of scrolling with the mouse appears, and comparing the contents is somehow stuck.

[2019-11-05 18:40] pnedev commented on #201
@ballios ,

I just checked with the portable Notepad++ 7.8.1 version.
I used the Notepad++ Plugin's Admin to download Compare v2 and it is working fine.
I didn't experienced any problems with the scroll sync.

Besides, the only difference between Compare v2 and Compare v2 for Npp 7.7 and above is the changes in the plugins API that comes from the Notepad++ 7.7 new plugins handling.

If you need fu

[2019-12-16 20:11] dtwaling commented on #201
Just want to confirm (in case anyone else checks this thread) --> when updating npp 7.x to version 7.8.1 or later, you can use Plugin Admin to remove the plugin, then open Plugin Admin to select and re-installing the Compare plugin again.  This does resolve the issue described.

This is not totally unexpected given the API changes in npp.  And, I did have to do this for a few other plugins as well

[2020-01-01 14:42] Yaron10 opened #218 "Happy New Year"
Hello Pavel,

It's been a long time.
I hope you're doing well and I wish you a Happy New Year.

[2020-01-01 14:42] #218 closed

[2020-01-04 12:49] pnedev commented on #218
Hello Yaron,

I'm great,  thank you!
Hope you are well too.
Happy New Year!

Best Regards,
Pavel

[2020-01-04 17:10] Yaron10 commented on #218
:+1:

[2020-01-06 14:29] noteovv opened #219 "compare-plugin 200 still does not work in NPP 782 64-bits"
The title says it all.
Also see a previous issue for compare-plugin under NPP 771.
Manually installed in the NPP plugins folder, the dll and the folder ComparePlugin.
I even tried to create a ComparePlus folder and  even a folder named ComparePlugin, in order to put the dll and the folder with the other 2 dlls into that folder.
But nothing works.
I used the 64-bits compare plugin and I have the 64

[2020-01-06 14:49] pnedev commented on #219
Hi,

The title doesn't say it all at all.

What exactly does that mean?
It doesn't load?
It doesn't appear in the menu?
It doesn't compare?
It crashes?

The dll **must not be** directly in the NPP plugins folder.
The dll + the ComparePlugin folder should be in
`Notepad++_install_folde\plugins\ComparePlugin\` folder like that:

`Notepad++_install_folde\plugins\ComparePlugin\ComparePlugin.dll`
`Note

[2020-01-06 22:19] noteovv commented on #219
I have done exactly what you mentioned and I was referring to the same issue, entered by somebody else regarding version Npp 771.
Therefore I meant: Compare plugin does not show up in the Plugins menu of Npp.

Earlier, I downloaded the Compare plugin 200 npp 77 x64 from github/pnedev on Jan. 4 2020 and I installed it in Npp 771, 64-bits.
Nothing worked (i.e. Compare did not show up in the Npp 771

[2020-01-07 08:41] pnedev commented on #219
Hi,

And thank you for the thorough description.
This sounds really strange. Notepad loads all its plugins dlls at start from its plugins folder and each plugin sub-folder there. If the paths have been correct then the only reason I can think of that might cause such problem is that Notepad has not been restarted after the plugin was copied to the correct place. Are you sure you have restarted Not

[2020-01-07 16:13] noteovv commented on #219
Thanks for all your quick responses.

Like I described:
first quit Npp
then copy or move or rename objects in the Npp Plugins folder, as seen in Windows 10 Explorer
then start Npp again.

It could be that Npp doesn't get notified immediately by Windows of changes in the file system, or for a moment can't see changes made.

Anyhow, I was aware of the existence of PluginsAdmin, but, shall we play th

[2020-01-07 16:13] #219 closed

[2020-01-08 08:56] pnedev commented on #219
Thanks again for the explanation.
That is getting even more weird and, I don't know, you might be right about Win10 and the language.
I haven't heard of the behavior you described before though.
There were several Notepad++ versions after 7.6.x (so between 7.7 and 7.8 if I remember correctly) when there were a lot of debates where the plugins (and their configs) should reside and a lot of changes

[2020-01-10 08:44] pnedev commented on #138
Hello Yaron,

Its been a long time and I can't really remember when last we talked (apart from you writing for the new year, it was very kind of you :) ).

I keep on working on ComparePlus when I have free time and I continue adding new features and doing improvements. But I get more busy and releasing the new compare already took years.
Thus, I'd like to release first version soon nearly as it is

[2020-01-10 20:13] Yaron10 commented on #138
Hello Pavel,

Wishing you well was a duty and a pleasure. :)

Your continuous work is much appreciated.
I understand your decision to release a new version soon, and I'll be glad to try the new binary when it's ready.

Are you planning to tackle https://github.com/pnedev/compare-plugin/issues/141 now or in the future?
I don't remember the various cases but I do occasionally encounter some glitches

[2020-01-13 09:28] pnedev commented on #138
Hello Yaron,

Thanks and sorry for the delay in my response.

About https://github.com/pnedev/compare-plugin/issues/141 I haven't decided yet.
I thought about leaving it for the future (maybe because I almost never trigger that problem and I kind-of automatically presume that should be the same for other users too which is wrong of course).
I will try to find some viable solution before the releas

[2020-01-13 20:09] Yaron10 opened #220 "Recent changes"
Hello Pavel,

Thank you for the detailed and well explained reply.

Brilliant. I was impressed.
Now that you process margin-clicks, it might be easier to implement in the future "Go to other Moved-block" on double-clicking a Moved icon.

I have also made re-compares more visually appealing...
,,, this will also be indicated in the status bar.

Great.
The Compare is much faster now and the Progress

[2020-01-13 20:10] Yaron10 commented on #138
Continued in https://github.com/pnedev/compare-plugin/issues/220.

[2020-01-14 08:20] pnedev commented on #138
Closing this now, blank line is no longer inserted.

[2020-01-14 08:20] #138 closed

[2020-01-14 09:24] pnedev commented on #220
Hello Yaron,

Thank you for the feedback and for the prompt reply (as always). I appreciate it.
I'm also glad that you like the new changes.

That's true but I'll leave it for future versions.

It is the case for most of the usual files, yes. For one or two I tried it is the opposite but those were very specific files. It is connected with the new change detection algorithm.

That is an illustrati

[2020-01-14 09:32] pnedev commented on #169
Hello Yaron,

I will postpone these minor issues and improvements for the future releases.
Thanks again for pointing them out. :+1:

BR

[2020-01-14 12:05] J-Cott opened #221 "ComparePlugin.dll not under ComparePlugin directory"
When you download ComparePlugin_v2.0.0_npp7.7_X64.zip the ComparePlugin.dll is not in the \ComparePlugin directory with git2.dll and sqlite3.dll (it is one level above the directory and if installed into \plugins like this it doesn't load) . No readme file to say that ComparePlugin.dll needs to be moved into C:\Program Files\Notepad++\plugins\ComparePlugin\ for it to load in Notepad++

[2020-01-14 13:58] pnedev commented on #221
Please read the project main page (which actually displays this readme:
https://github.com/pnedev/compare-plugin/blob/master/README.md).

[2020-01-14 13:58] #221 closed

[2020-01-14 21:18] Yaron10 commented on #220
Hello Pavel,

Sorry for using the term "wrong". "more accurate" is indeed better.

I think the criterion for "more accurate" is how a human would pair the lines.
And surely we would pair the `user_pref("extensions.blocklist.lastModified"` lines (101) and mark them as Changed.

I don't know anything about the "under the hood" mechanism and this a long shot:
Would it be very complex to let the user

[2020-01-14 21:20] Yaron10 commented on #138
:+1:

[2020-01-14 21:20] Yaron10 commented on #169
:+1:

[2020-01-15 07:55] pnedev commented on #220
Hello Yaron,

No problem at all. I just wanted to point out that each approach is good in some cases and not good (accurate) in others.
I agree with you.

I'll consider adding such setting.

Let's leave this thread open for now, I'll use it to update you on the status.
Thank you.

BR

[2020-01-15 22:24] Yaron10 commented on #220
Hello Pavel,

:+1:
Thank you. As always, I appreciate your work.

BR

[2020-01-18 14:52] vinsworldcom opened #222 "Feature: Option to disable color highlighting"
Please consider adding a feature to not use colors at all for highlighting.  In other words, just disable the highlighting for compares and just use the margin symbols green '+' and red '-" like you already do.

Alternatively, an option to use SC_MARK_FULLRECT instead of SC_MARK_BACKGROUND in the settings may work as well.

I find the highlighting even with transparency set to 100% completely mask

[2020-01-20 08:45] pnedev commented on #222
Hi @vinsworldcom ,

Doesn't changing the differences colors fix your problem?
Having only the margin marks will make the differences difficult to notice IMO.

BR

[2020-01-21 16:04] vinsworldcom commented on #222
I changed all colors to match the background of Obsidian theme and made
them 100% transparent.  This workaround seems to work - showing no
highlighting and only the margin marks.  It makes it look much more like a
normal `diff` from the command line.

Cheers.

On Mon, Jan 20, 2020 at 3:45 AM Pavel Nedev <notifications@github.com>
wrote:

[2020-01-22 00:23] adhoniran opened #223 "Incorrect Comparison"
Hi,

This plugin is great.
I am testing it because I want to use it in my day-to-day, but I just found an incorrect comparison behavior when the line starts with a single character separated by space and the compared line have the same first character.

The software ignores the text after the first character and considers the lines like equals.

I just added some screenshots:

http://pasteall.org/

[2020-01-22 08:31] pnedev commented on #222
OK @vinsworldcom ,
I'm closing this request then.

BR

[2020-01-22 08:31] #222 closed

[2020-01-22 08:43] pnedev commented on #223
Hi,

I couldn't reproduce the issue on my side.
Could you tell me your version of Notepad++ and your version of Compare plugin?

BR

[2020-01-22 14:46] vinsworldcom commented on #222
Yes, please do.  Thanks for the tips.  I set all colors to the background of my Theme except the "Change Highlight" which is a very light yellow and set 100% transparency.  This shows the green "+", red "-" and orange "/=" (not equal) in the margin as well as putting a very subtle yellow highlight on the specific changes within each changed line.

Exactly what I was looking for.  Thanks!

[2020-01-22 15:50] pnedev commented on #222
You are welcome.
BR

[2020-01-23 14:00] adhoniran commented on #223
Hi,

Very strange, I tried using another PC now and comparison is fine to the text.
The Notepad++ version are the same (I think) and the Compare plugin too.

I can to confirm the versions today, later, and repeat the test.

[2020-01-24 03:36] adhoniran commented on #223
Hi,

The Notepad++ version is 7.8.2 and the Compare plugin version is 2.
I tried again now and comparison worked fine.   :/

[2020-01-28 09:01] pnedev commented on #223
@adhoniran ,

Very strange. I have never seen such problem or heard of it before.
I'll close the issue now but if you see similar behavior again please write back.

[2020-01-28 09:01] #223 closed

[2020-01-28 16:11] JohanPirlouit commented on #201
Hello everyone,

As @dtwaling said, I can confirm that to recover the vertical scroll sync with NPP 7.8+, I had to reinstall Compare plugin using the Plugin Admin (remove and reinstall) and ... it works!

Thanx @dtwaling for the tip ;-)

[2020-01-31 13:16] oholimoli opened #224 "Plugin works only if everything is in one folder!"
Hello,

I coudn't use the compare plugin because it was lost from the menu every time I restarted Notepad++.

I could fix this behaviour by copying
- ComparePlugin.dll
- git2.dll
- sqlite3.dll

to the folder:

Notepad++\plugins\ComparePlugin\

In the zip file of the release the ComparePlugin.dll is outside of this folder and importing the dll copys it to Notepad++\plugins\ but when I restarted Not

[2020-01-31 14:57] pnedev commented on #224
@oholimoli ,

The plugin folder structure should be like that:

`Notepad++\plugins\ComparePlugin\ComparePlugin.dll`
`Notepad++\plugins\ComparePlugin\ComparePlugin\git2.dll`
`Notepad++\plugins\ComparePlugin\ComparePlugin\sqlite3.dll`

BR

[2020-01-31 14:57] #224 closed

[2020-01-31 15:08] pnedev opened #225 "Read this if your ComparePlugin does not appear in Notepad++ menu"
If your Notepad++ version is 7.6 and above, ComparePlugin needs this folder structure to work:

`Notepad++\plugins\ComparePlugin\ComparePlugin.dll`
`Notepad++\plugins\ComparePlugin\ComparePlugin\git2.dll`
`Notepad++\plugins\ComparePlugin\ComparePlugin\sqlite3.dll`

----------------------------------------

If your Notepad++ version is 7.7 and above you'll need this ComparePlugin v2:

https://githu

[2020-02-05 19:14] RickPack opened #226 ""Compare" name may be needed (x86, Windows 10)"
For an x86 (32-bit) installation (Windows 10), all efforts to get the Compare plugin failed (including the use of the menu and naming all folders ComparePlugin) except naming the folders:
...\plugins\Compare\Compare

and renaming the dll to Compare.dll.

[2020-02-06 08:24] pnedev commented on #226
That's interesting.
My folders structure have always been like I have written here:
https://github.com/pnedev/compare-plugin/issues/225 .
What is your Notepad++ version?

[2020-02-11 13:27] hexep opened #227 "Incorrect compare results"
There are unnecessary breaks after comparing some files (for example, "russian.xml" and "english.xml" files of notepad++).

![image](https://user-images.githubusercontent.com/29166409/74240315-c9356780-4cea-11ea-8399-8265b04eba98.png)

[2020-02-11 13:47] xylographe commented on #227
Try enabling **Plugins > Compare > Ignore Spaces**. The files have different indentation style.

[2020-02-11 14:46] pnedev commented on #227
@hexep ,

Do you mean the blank lines 25-71 or you are talking about the changed spaces marked with dark yellow / orange ?

What @xylographe suggested will ignore the changed spaces (my second guess) and those will no longer be marked.

If your problem is my first guess you cannot do anything about it - lines 25-71 simply match, they are the same and compare as equal.

[2020-02-11 21:41] xylographe commented on #227
@pnedev
I think the OP prefers something with fewer ‘gaps’, like this,

![NPPComparePlugin](https://user-images.githubusercontent.com/8535293/74281323-87beaf80-4d1e-11ea-9295-278953ef8b08.png)

With "Ignore Spaces" enabled most lines will be considered similar, resulting in fewer gaps.

[2020-02-12 08:21] pnedev commented on #227
@xylographe ,

Thanks for explaining. Perhaps you are right. :+1:

[2020-02-12 08:59] pnedev commented on #201
And one more thing:

If you continue to experience problems with vertical scroll sync while in compare and you have followed all the instructions above (to update the Compare v2 plugin) then **remove all your other plugins** because they might not be updated to the new N++ 7.7 (and above) API and thus compromise Notepad++ normal work.

Leave **only** the updated Compare v2 for Npp7.7 plugin and re

[2020-02-12 13:37] hexep commented on #227
@xylographe,

Thanks, it helped me.

[2020-02-12 13:37] #227 closed

[2020-02-12 15:55] Corendiel commented on #201
I'm in version 7.8.4 of Notepad++ and 2.0.0 of compare plugin.
I remove every other plugin and Compare is still not activating the vertical sync scrolling.
![image](https://user-images.githubusercontent.com/1401010/74351296-f171a480-4d84-11ea-82fc-184fe6ae699b.png)
Even if I start in 2 views mode with vertical sync scrolling activated.
Turning on Compare will turn off vertical sync scrolling and r

[2020-02-13 01:08] Stady234 commented on #201
Has to be something else you have... I just installed and checked on 5 of my work machines that never had notepad++ on them... everything works as expected.

I would remove notepad++ and all plugins, then follow up with a "system maintenance" tool... i have had great luck with Glarysoft.com (and it is free)...

[2020-02-13 09:06] pnedev commented on #201
@Corendiel ,

I need a little clarification:

When you say

do you mean that the files are not scrolling vertically together while they are compared?
Or you mean that the Notepad++ vertical scroll sync option is off?

Yes, I'm sure. I'm the developer of Compare plugin :)

Again, what option is not active by default and saved for future use?
Do you mean the Notepad++ vertical scroll sync option?

-

[2020-02-13 18:25] Corendiel commented on #201
Thanks @pnedev, for looking into this. I like your plugin and that's why I'm taking the time to document the issue here.

For info, I have this issue on 2 different computers one at home and my work laptop. Both are on Windows 10. At work, it is Windows 10 Enterprise Version 1809 Build 17763.914.
I can give you my home version later if needed. I'm writing from work right now.
Notepad++ 64 version

[2020-02-14 06:09] Stady234 commented on #201
Looks like you are using the wrong buttons completely... as in you have no idea how to use the plugin.

open two files you want to compare... don't change any options  AT ALL.. don't click anything BUT the compare button on the toolbar....  Not the vertical sync, not the horizontal sync... NOTHING....

Then show what happens....  I use the compare tool almost daily when looking for differences in

[2020-02-14 08:51] pnedev commented on #201
Thanks for trying to help @Stady234 .

Hi @Corendiel ,

Thank you for the detailed explanation.
I really don't know what else to add to the summary in my previous post.

Notepad++ and Compare use different vertical scroll approaches internally.
That's why Compare turns off Notepad++ vertical scroll while compare is active and restores the previous Notepad++ state (the one before the compare was st

[2020-02-14 15:24] Corendiel commented on #201
@Stady234 I have been using this plugin for 10 years I know how to use it thank you. It's not because you use it a certain way that it's not intended to work in another expected way. Buttons are meant to be clicked. Again I'm, not the only person reporting this issue. There are other threads out there for this
https://github.com/notepad-plus-plus/notepad-plus-plus/issues/5250
https://sourceforge.n

[2020-02-14 16:47] pnedev commented on #201
@Corendiel ,

Thanks for the suggestions and I'm glad we found the root cause. :+1:

One remark:
https://github.com/notepad-plus-plus/notepad-plus-plus/issues/5250 is a thread for Notepad++ vertical scroll setting not being remembered correctly not for the Compare plugin. So it is a completely different issue.

And now some clarifications:

It is not complex at all of course.
But it is the same Co

[2020-02-14 19:48] Corendiel commented on #201
I know it's a different issue but other people on that thread were bringing Compare behavior change too. Like me, most people were not using these buttons and sync scroll features until it stopped being active by default in Compare. My point was I'm not an isolated case and other people are in this mixed match version situation.

I would expect Plugins Admin to help you pick the right version of t

[2020-02-14 23:34] pnedev commented on #201
Yes, of course. All the people upgrading their Notepad++ from version < 7.7 to later versions have had the same problem with Compare and needed to reinstall it. It is confusing no doubt.
That's why this issue was opened and visited by so many people.

Plugin Admin picks the right version when you install a plugin anew. It does nothing with already installed plugins. I'm not sure there is a Plugin

[2020-02-20 16:54] jp-cabrera commented on #226
This is the way that worked for me. Thanks!

[2020-02-25 16:20] pnedev commented on #141
Hello Yaron,

How are you, I hope you are doing well :)

I did some changes regarding this issue and tested the fixes here but could you please do some checks on your side as well when you have the time and tell me if you still experience this misbehavior?

Thank you in advance for helping with this, much appreciated as always.

Here are the binaries:
- [**x86**](https://ci.appveyor.com/api/buildj

[2020-02-26 14:01] Yaron10 commented on #141
Hello Pavel,

I'm fine, thank you.
I hope you are as well.

I've tested the issues in this thread (not possibly related issues in others).
I've also tested [these RC files](https://github.com/pnedev/compare-plugin/files/4255894/RC.zip) (several issues in a not-maximized window).
As always, excellent work. :+1:

You probably fixed the following cases before https://github.com/pnedev/compare-plugin/

[2020-02-26 14:03] Yaron10 commented on #220
Hello Pavel,

Despite the recent improvements, I've still been a ComparPlus from about a year ago.

I compare the prefs files quite often and it's more convenient with the old approach.
Comparing now the [files](https://github.com/pnedev/compare-plugin/files/1412340/Test.zip) from https://github.com/pnedev/compare-plugin/issues/141, the old approach seems more accurate (as is the case with other f

[2020-02-26 14:51] pnedev commented on #141
Hello Yaron,

Thanks a lot for the quick re-testing and the feedback :+1:

I will look into your last remark about pair4 files lacking the end blanks and consider this issue resolved.

BR,
Pavel

[2020-02-26 14:56] pnedev commented on #220
Hello Yaron,

I suppose I will add an option to switch the changes detection method as you suggested.
Because both are viable in different circumstances.

I'll write back when ready, thank you.

BR

[2020-02-26 15:55] pnedev commented on #220
Hello again, Yaron,

The last result you are getting is not due to the new changes detection approach.
And the latest CP is "_more correct_" in this comparison, let me explain.
Looking at the lines sequences, line 2931 in file2 is empty line. And it should match the first empty line from file1 following the previous match (the curly braces at lines 2929-2930). The first empty line from file1 is 29

[2020-02-26 21:49] Yaron10 commented on #220
Hello Pavel,

Thank you for the detailed explanation. :+1:

Fully mastering it would require some more thinking.
And the following lines are written without doing so.

I don't have another Diff tool installed; I've compared some files in the following sites:
https://text-compare.com
https://www.diffchecker.com/diff

The `Notepad_plus` files are displayed as they are in the latest ComparePlus.
The

[2020-02-26 21:51] Yaron10 commented on #141
Hello Pavel,

I do. :)
:+1:
Thank you so much.

BR

[2020-02-27 15:09] pnedev commented on #220
Hello Yaron,

I will add the extra setting for more flexibility.
Perhaps the menu is the right place for it, I'm not sure yet.

I'll write again soon :+1:

BR

[2020-02-27 21:38] Yaron10 commented on #220
Hello Pavel,

:+1:
Thanks again. I appreciate it.
Whenever you have time.

BR

[2020-03-02 15:04] pnedev commented on #220
Hello Yaron,

I have added the new menu setting, here are the binaries:

- [**x86**](https://ci.appveyor.com/api/buildjobs/9h7girw4k3om8rwc/artifacts/ComparePlus.dll)
- [**x64**](https://ci.appveyor.com/api/buildjobs/29kka4j03yyh23op/artifacts/ComparePlus.dll)

By default the new changed lines detection won't be used.
I suppose it will be good if you delete your ComparePlus.ini config file.

BR

[2020-03-03 11:59] Yaron10 commented on #220
Hello Pavel,

Thank you for the latest changes. I do appreciate it.

With the new setting unchecked, the files used in this thread (`prefs`, `userChrome`) are displayed "more accurately".
This is really great. :+1:

So, what's the purpose of that setting?
Are there other cases where the results are "less accurate" without it?

Now that I can use the latest CP, I'd like to thank you again for fixin

[2020-03-04 00:13] pnedev commented on #220
Hello Yaron,

And Thank you. Now I'm really close to releasing the new plugin.

Are there other cases where the results are "less accurate" without it?

Yes, you can try comparing
[**these**](https://github.com/pnedev/compare-plugin/files/4284295/langs.zip) files with and without the new option.

I will write again soon to let you know when ComparePlus v1 is ready.
Please feel free to write if you

[2020-03-04 15:16] ttodua opened #228 "Any documentation about visual elements?"
Where we can see some descriptions how it works or what does such element means?
https://i.imgur.com/3NWvYFu.png

[2020-03-04 15:23] Yaron10 commented on #220
Hello Pavel,

Thank you for the `langs` files.

It requires some thinking which may lead to a possibly long discussion.
If you think that you have fully grasped and exhausted the issue and the current implementation is best, that discussion better be spared.

If further discussing it might be helpful, you'd probably prefer doing it some time in the future after the release of ComparePlus v1.
***

[2020-03-04 20:24] pnedev commented on #220
Hello Yaron,

Let's leave the further discussions about the new changes detection approach for now. Your feedback is more than welcome but I will freeze the changes until ComparePlus v1 is released.
Thank you.

About #141 yes, I remember and I'll fix it before the release. That's why the thread is still open. Thanks for reminding me though.

I can't remember the issues around selections re-compare

[2020-03-04 20:31] pnedev commented on #228
@ttodua ,
There is no thorough help yet but you can take a look here:
https://github.com/pnedev/compare-plugin/blob/master/Help.md

It should give you an overall idea and when you start using the plugin you'll see it's not complex at all.

I won't be able to comment till next week but if you have any specific question after reading the available help I'll answer as soon as I can.

BR

[2020-03-05 20:13] Yaron10 opened #229 "Compare Selections"
Hello Pavel,

Tested with the [CSS files](https://github.com/pnedev/compare-plugin/files/4055470/userChrome.zip) (from https://github.com/pnedev/compare-plugin/issues/220#issue-549153709).

STR:
`Show Only Compared Selections`: OFF.
Select line 7 in `userChrome Old.css` and lines 1-9 in `userChrome New.css`.
Compare Selections.

Result:
No marks in one file (or `Compare Selections Block Start`).
C

[2020-03-05 20:15] Yaron10 commented on #220
Hello Pavel,

...
About #141 yes, I remember and I'll fix it before the release.

:+1:
Thank you.

Unfortunately I can't find the relevant discussion.
I've opened a [new issue](https://github.com/pnedev/compare-plugin/issues/229).
***
I hope you have a good time.
BR

[2020-03-06 08:51] pnedev commented on #220
Hello Yaron,

Thanks for opening the new issue.
I'll close this thread now.

BR

[2020-03-06 08:51] #220 closed

[2020-03-06 08:57] pnedev commented on #229
Hello Yaron,

I'll have a look at all these cases when I get home.
As a remark - there is currently a known issue with navigation commands that I'm about to address next. Just to let you know about it.

Thank you for filling these STRs, much appreciated.

BR

[2020-03-06 12:37] Yaron10 commented on #229
Hello Pavel,

Thank you. I appreciate it.

Enjoy your long weekend.

BR

[2020-03-23 11:40] ArkadiuszMichalski opened #231 "Crash when compare two completely different files."
Hi, I get crash when compare two completely different files. I use `Build time: Mar  2 2020,  15:16:47` compare version. Step to reproduce:
[code]
NPP will crash every time when do above steps.

[2020-03-23 11:48] ArkadiuszMichalski commented on #231
One another case when I get crash, discovered accidentally, that's why I will describe it by the way.

1. Save first file with this data:
[code]
2. Save second file with this data:
[code]
3. Do compare.
4. Go to first line in first or second file and add one another line (event empty).

NPP will crash every time when do above steps.

[2020-03-23 17:41] pnedev commented on #231
@ArkadiuszMichalski ,

Perhaps your version of Notepad++ is above 7.7.
ComparePlus plugin is still in development - it is not released yet.
The development build is not suited for Notepad++ versions above 7.7 (included) - the changes needed by the new Scintilla component are not integrated yet. It will be done for the official release.

BR

[2020-03-29 13:03] #228 closed

[2020-03-29 13:04] #216 closed

[2020-03-29 14:45] pnedev commented on #141
Hello Yaron,

How are you in these troubled times?
I hope I find you and your loved ones in good health.

I have added the end of file alignments, here are the binaries:
- [**x86**](https://ci.appveyor.com/api/buildjobs/hny222cyfxq3i979/artifacts/ComparePlus.dll)
- [**x64**](https://ci.appveyor.com/api/buildjobs/s118r3ec3nn9doy5/artifacts/ComparePlus.dll)

Take care, stay safe and wishing you all

[2020-03-29 14:45] #141 closed

[2020-03-29 14:57] #226 closed

[2020-03-29 15:06] pnedev commented on #132
This feature request is very similar to this one:
https://github.com/pnedev/compare-plugin/issues/167

I'll close it as redundant and address both requests in the given link.

BR

[2020-03-29 15:06] #132 closed

[2020-03-29 19:32] Yaron10 commented on #141
Hello Pavel,

Troubled times indeed. The "dead count" is top news and we all wonder what the next day will bring.

Judging by your lines (and work :) ), I gladly assume you are fine and in good health.
I've read the situation in Bulgaria is relatively good.
I wish you, your family and your country the very best.

Thank you for your kind wishes. Apart from the inconveniences caused by the partial c

[2020-03-30 08:01] pnedev commented on #141
Hello my friend,

And thank you for the kind words.
I wish all the best to you and your loved ones.
Let's hope things will get better soon.
Be safe.

BR

[2020-03-30 14:17] Yaron10 commented on #141
:+1: :+1:

[2020-04-09 14:20] Kai0ken opened #232 "Feature Request: Compare character"
Hello,
thanks for this nice plugin. What I am missing is a characterwise comparison. For now it shows successfully the changed lines and "words", but I wish there would be also an option for "show changed characters", because at the moment it is not easy visible (at least for me) when only one character has changed.

Example (very short to simplify it: a one-liner):
First Text: "Hello world!"
Seco

[2020-04-09 16:23] pnedev commented on #232
Hello @Kai0ken ,

I am very close to releasing the first version of my new ComparePlus plugin that already has this feature + many more.
I hope it will be out in 2 - 4 weeks.

BR

[2020-04-10 09:26] Kai0ken commented on #232
Okay, thank you.

[2020-04-10 09:26] #232 closed

[2020-04-10 18:54] penguinairlines commented on #201
I had this problem, found this github issue first google result, uninstall and reinstall the plugin making sure to launch NPP as admin, and vertical scroll works. I did not have to enable any other vertical scroll behavior for NPP. In fact, my only non-default setting of NPP is the cloud directory for portable installation and backup purposes.

[2020-04-22 12:26] ArkadiuszMichalski opened #233 "Multiple `Diff since last Save` at the same time not work"
Hi, I see that command `Diff since last Save` doesn't work correct when we use it multiple times. I use `ComparePlus Build time: Mar  2 2020,  15:16:47` version. Step to reproduce:
[code]
Above step completely destroy `Diff since last Save` command, so If we clean all compares (by invoke `Clear All Compares`) and try invoke `Diff since last Save` once again, we don't get any compare results. To fi

[2020-04-23 13:34] pnedev commented on #233
Hi @ArkadiuszMichalski,

Thanks for reporting that, I'll have a look and write back.

BR

[2020-04-23 14:07] ArkadiuszMichalski commented on #233
Same problem is for `SVN Diff` and `Git Diff`. I can't determinate behaviour for `Compare Selections` because for second compare I always get crash.

Btw, @pnedev I have some fast questions: what additional library we need for ComparePlus? I see that for old plugin we have `git2.dll` and `sqlite3.dll` but for new don't see any infos. I only determined that we need `git2.dll` for Git compare, but w

[2020-04-23 14:41] pnedev commented on #233
Hi again @ArkadiuszMichalski ,

I'll check that also, thanks for reporting.

ComparePlus needs the same libraries as Compare for its Git and SVN diff commands.
They are external and are not changed. I haven't packed them with the plugin DLL because I heven't released ComparePlus officially yet.

BR

[2020-04-24 20:12] ArkadiuszMichalski opened #234 "Label for `Set as First to Compare` not show for clonded tab in second views"
Hi, I see that label for `Set as First to Compare` command not show for cloned tab in second views, although this function works correct for other compares/clears commands. Step to reproduce:
[code]
After all we still get the result of the comparison, so missing this label is really small bug. It is worth adding that in the first view this label always appear for cloned tab, problem exist only for

[2020-04-25 23:29] pnedev commented on #234
Hi @ArkadiuszMichalski ,

I'll check that as well, thank you for the detailed description.

BR

[2020-04-27 15:34] pnedev commented on #233
Hi @ArkadiuszMichalski ,

The issue is fixed, here are the corresponding development binaries:
- x86: https://ci.appveyor.com/api/buildjobs/4mhy1g2p9yb95iu0/artifacts/ComparePlus.dll
- x64: https://ci.appveyor.com/api/buildjobs/dbg846lkl3qo588s/artifacts/ComparePlus.dll

Please tell me if you still experience the problem.
Thanks.

BR

[2020-04-27 22:47] ArkadiuszMichalski commented on #233
@pnedev, now looks good, all works fine, thx.

[2020-04-28 10:51] #233 closed

[2020-04-28 16:07] rawand123-bot opened #235 "rtyrty"

[2020-04-29 19:21] ArkadiuszMichalski opened #238 "Please add a descriptions for some commands"
Hi, @pnedev, I can't determine the behavior for the following commands:
[code]
Descriptions in https://github.com/pnedev/compare-plugin/blob/master/Help.md (if exist) are not clear. Can you, of course in your free time, add short examples (data to compare) for each of these cases that will show the difference when we turn on/off them. And maybe update `Help.md` file with this informations (to avoi

[2020-05-15 10:05] bennoordzij opened #239 "does not find the optimal moved line"
I would expect that compare would see the line "Frankrijk, Alpen (41)" as deleted and "Frankrijk, Elzas (139)" as changed
![image](https://user-images.githubusercontent.com/65396636/82038336-af1d7380-96a3-11ea-9aeb-4b89995f1248.png)
Tried to dig into the code myself, but it was too hard to find the "moved lines" part in sources without comments....

Regards, Ben
[Cas stand 20200415.txt](https://gi

[2020-05-15 12:21] Yaron10 commented on #239
@bennoordzij,

This is fixed in the ComparePlus development version.

![תמונה](https://user-images.githubusercontent.com/10229320/82049677-62e02c80-96bf-11ea-951a-3880b48f57d8.png)
***
Hello Pavel,

I hope you're doing well and in good health. :)

BR

[2020-05-17 15:02] #235 closed

[2020-05-17 15:24] pnedev commented on #238
Hi @ArkadiuszMichalski ,

Yes, sure, I'm willing to add help description sometime in the future but I don't know when that will happen. I do not have free time at all these days.
I even find it hard to finish the few last issues and actually release the plugin.
Sorry for my late reply.

'Align all matching lines' aligns each matching line between the files as well (if left and right views have dif

[2020-05-17 15:52] pnedev commented on #239
Hi @bennoordzij ,

I know what you mean, this is a known short-coming in Compare plugin.
The good news is that (as Yaron mentioned) the changed decision approach is changed in the new plugin I'm about to release - ComparePlus. I hope to find time to do that soon but thats pretty hard for me currently. Thanks for reporting this anyway.

Hi @Yaron10 ,

Good to 'hear' from you again, friend :)
Thank

[2020-05-17 17:48] Yaron10 commented on #239
Hello my friend Pavel,

I'm glad to learn that you are OK. One can wonder and worry in these days.
I hope your "busyness" is enjoyable. :)

I'm fine as well, thank you.

BR

[2020-06-11 17:42] DavJenkins opened #240 "Ignore timestamps when comparing two log files"
As a user, I would like to be able to ignore timestamps when comparing two files.

While, perhaps, similar to https://github.com/pnedev/compare-plugin/issues/167, surely this would be easier to implement.  I was thinking about how often I compare log files between two different runs of some software.  In that scenario, the scores of timestamps are always flagged as differences between the two file

[2020-06-13 09:51] bennoordzij commented on #239
Hi @Yaron10 and @pnedev ,
thanks for the new compare 2.0.0, it really helps me with my different projects.
I still see non-optimal behaviour in the compares, though....
![image](https://user-images.githubusercontent.com/65396636/84565723-683aa080-ad6b-11ea-9df4-bfe72a76567d.png)
and
![image](https://user-images.githubusercontent.com/65396636/84565749-94eeb800-ad6b-11ea-89b7-149ff6897acb.png)

Not

[2020-06-13 13:53] Yaron10 commented on #239
Hello @bennoordzij,

Your issues are fixed in the new **ComparePlus** development version. **Not in ComparePlugin v2**.
(Pavel, the developer, has been busy recently and therefore the official release of ComparePlus is delayed).

- Download ComparePlus.dll [here](https://github.com/pnedev/compare-plugin/issues/233#issuecomment-620061843).
- Rename the `ComparePlugin` folder under `plugins` to `Com

[2020-06-14 13:03] Yaron10 opened #241 "Typing in Incremental Search Bar moves focus to editor"
Hello Pavel,

I hope you're in good health and not as busy. :)

**STR:**
Compare.
Type a letter (existing in the file) in the Incremental Search Bar.

**Result:**
The focus moves to the editor.
If you want to type `abc`, `bc` might be typed in the editor.

Probably a relatively recent regression.
***
Please reply whenever you have time.

Thank you and BR.

[2020-06-17 23:14] pnedev commented on #240
Hello @DavJenkins ,

That will be a useful addition and as I wrote in the open pull requests I am planning to implement advanced ignore settings at some point but it won't be soon. I can't promise anything.
Thanks for writing.

BR

[2020-06-17 23:24] pnedev commented on #239
Hi @Yaron10,

Thanks for helping. I appreciate it as always. :)

@bennoordzij,

Yaron really said it all.
You either need to wait for the official release of ComparePlus (the new plugin) or use its development version.

Unfortunatelly I cannot say for sure when the final version will be ready.

BR

[2020-06-17 23:28] pnedev commented on #241
Hello Yaron,

Thank you for filing this issue, I'll have a look soon.

I am good, thanks, hope you are doing well too.
Take care.

BR

[2020-06-18 10:46] Yaron10 commented on #241
Hello Pavel,

Thanks for replying - I'm glad you're OK.

And thank you for looking into it. Whenever you find the time.

BR

[2020-06-25 16:20] Yaron10 opened #242 "Focus after closing the NavBar"
Hello Pavel,

I hope you're doing well.
I understand you're still not available. Please reply whenever you have time.
(I just don't want to forget the various cases).

There are some focus issues when closing the NavBar. I'd like to compare it to the Function List (with https://github.com/notepad-plus-plus/notepad-plus-plus/commit/6f09695c2d12c773e6b50e5bc2bbf2d6b24a227f).

**Toggling the Function

[2020-06-26 10:31] pnedev commented on #242
Hello Yaron,

I'll see what I can do, thanks for reporting that.
I know that there are cases when the focus remains on the NavBar (as far as I recall it is when the scroll bar of the NavBar is used). I couldn't fix that back then but I considered it a small issue.

Stay safe and Best Regards,
Pavel

[2020-06-26 15:29] Yaron10 commented on #242
Hello Pavel,

In some cases no element gets the focus after closing the NavBar.
It is a minor issue. We can further discuss it when you're back and after the release of ComparePlus.

Thank you. I appreciate it.

Have a nice weekend.
BR

[2020-07-03 19:43] DavidHaslam commented on #188
The requested feature should not depend upon either **Git** or **SVN** data being present.
cf. Neither are needed by the **WinMerge** tool.

[2020-07-16 16:06] Yaron10 opened #243 "AddedRemoved instead of Changed"
Hello Pavel,

I don't want to bother you now. Whenever you're ready.

Paste the following lines into OldA.
[code]
Paste the following lines into NewA.
[code]

Compare the files when OldA is Old and NewA is New.

Result:
Lines 2 are marked as AddedRemoved instead of Changed.
(If you delete line 1 in both files, the compared line is marked as Changed).

Thank you.
BR

[2020-07-17 07:21] pnedev commented on #243
Hello Yaron,

I'll have a look, thank you for reporting this.
If the files have different number of lines it will not happen BTW.

BR

[2020-07-17 10:16] Yaron10 commented on #243
Hello Pavel,

Thank you for replying and looking into it.

Have a nice weekend and a pleasant time in general. :)

[2020-07-19 21:35] pnedev commented on #243
Hello Yaron,

The issue is fixed and here are the new development binaries:
- x86 : https://ci.appveyor.com/api/buildjobs/vtfv2my0p5hgc541/artifacts/ComparePlus.dll
- x64 : https://ci.appveyor.com/api/buildjobs/xy98s65jxlxcwwx8/artifacts/ComparePlus.dll

Those are not suitable for N++ versions above 7.7 (included). Sorry for that but I'm using 7.6.6 as my development build. The new Scintilla heade

[2020-07-19 21:35] #243 closed

[2020-07-19 22:33] Yaron10 commented on #243
Hello Pavel,

:+1:
Great!

I'm glad you found the time to fix it. Much appreciated.

The `+ - 5` in Settings is nice. :)

BR

[2020-07-22 13:28] Yaron10 opened #244 "Views are intensely jumping/flickering in some cases"
Hello Pavel,

**STR:**
Set `<GUIConfig name="AppPosition" x="276" y="4" width="1008" height="732" isMaximized="no" />` in `config.xml`.
Uncheck `NavBar` and close all other panels.
Compare [these files](https://github.com/pnedev/compare-plugin/files/4960221/TEST.zip).
Press `Next` 4 times.

**Result:**
Both views are intensely jumping/flickering.

I didn't test it with older CP versions but it's p

[2020-07-22 13:56] pnedev commented on #244
Hello Yaron,

It is an issue I have seen before myself, thank you for filing it.
It is connected with the new alignment (the ComparePlus one) and depends on the files, yes, but also on N++ window size.
This happens because of Notepad's dynamic line number margin size (when the diffs to be aligned happen to be at line or close to a line when the margin width changes). When the margin width changes

[2020-07-22 15:36] Yaron10 commented on #244
Hello Pavel,

Thank you for the immediate reply and for the explanation. I appreciate it.

:+1:
Known issues are certainly legit. :)

I'm glad you're well.
BR

[2020-07-25 23:04] Yaron10 opened #245 "Editor wrongly gets focus when trying to close unsaved compared file(s)"
Hello Pavel,

Could you please try the following case when you have time?

**STR:**
Compare unsaved files (one unsaved or both).
Press `Close All` or the unsaved file's close button.

**Result:**
Either the single or multiple `Save` message/dialog is displayed, but the editor has the focus.

If it doesn't happen the first time, press `Cancel` and try again.

It might be related to https://github.c

[2020-07-27 08:32] pnedev commented on #245
Hello Yaron,

I'll check that, thank you :+1:

BR

[2020-07-27 11:21] Yaron10 commented on #245
:+1:

[2020-07-30 21:49] Yaron10 opened #246 "Window does not flash if last diff is blank"
Hello Pavel,

Sorry to bother you again. I'd certainly understand and respect it if you preferred to reply some time in the future. :)

**STR:**
Compare [these](https://github.com/pnedev/compare-plugin/files/5003931/pair4.zip) files.
Press `Last`.
Press `Next`.

**Result:**
The window does not flash.

Thank you.

I wish you the best.

[2020-08-03 07:49] pnedev commented on #246
Hello Yaron,

Navigation commands have some other issues as well and this was the last thing for me to fix before the new plugin release for a long time (now there are some more ;))
Thanks for reporting it :+1:

BR

[2020-08-03 13:23] Yaron10 commented on #246
Hello Pavel,

Your work, whenever it's done, is truly appreciated.
And I haven't written it for a long time: ComparePlus is brilliant! :)
:+1:

BR

[2020-08-04 07:40] pnedev commented on #246
Thank you, Yaron :)

BR

[2020-08-16 01:38] ChliHug opened #247 "Unexpected slow compare with CSV files"
I encountered two CSV files that take an unexpected long time to compare. There are a few other issues where it is explained that this might be expected behavior due to how the plugin does the comparison. Is it possible that's also the case here?

[csv_example_files.zip](https://github.com/pnedev/compare-plugin/files/5079830/csv_example_files.zip)

These CSV files are from Microchip's Parametric S

[2020-08-19 08:37] pnedev commented on #247
@ChliHug ,

Yes, these are difficult files to compare.
The addition of the two new columns makes the files totally different.
What I mean is that practically the files have no two completely matching lines and Compare needs to look all the lines for partial similarities. Because there are a lot of lines and they are also quite long it makes the process even harder (and slower). The similar lines h

[2020-08-19 12:43] ChliHug commented on #247
I understand. Thanks for looking into it.

[2020-08-19 12:43] #247 closed

[2020-08-19 13:42] pnedev commented on #247
@ChliHug ,
No problem.
You can speed-up things by manually inserting one empty line after each 50 lines in both files but this might reduce the accuracy of the found similarities because the order of the processors in the list had changed.
The number 50 here is not fixed - the smaller the faster and the less accurate. It is good to keep that number equal in both files though.

[2020-09-21 18:55] Yaron10 commented on #241
Hello Pavel,

It's been a long time again.
I hope you're doing well.

I use the Incremental Search Bar quite frequently. - I had a look at it myself. :)

It seems that removing `::SetFocus(getCurrentView());` from
[code]
solves the problem.

But I'm sure it's there for a reason.
If it's not too much trouble for you now, could you please let me know what issue might be caused by removing it?

Thank

[2020-09-22 18:50] pnedev commented on #241
Hello Yaron,

You are a "dream user" - you file an issue and then fix it on your own :))

I have submitted the changes you suggest ([**x86 binary**](https://ci.appveyor.com/api/buildjobs/9c0nhrk30ev4ap6u/artifacts/ComparePlus.dll))
Honestly, I can't remember why the `SetFocus` calls were there - it seems those are not needed. My quick tests didn't show any problems but we'll see if some regression

[2020-09-22 19:13] Yaron10 commented on #241
Hello Pavel,

Needles to say I consider you the "dream developer". :)

Great. :+1:

I'm glad you've found the time to look into it. Thank you.

I'm certainly looking forward to that. I do hope you get the time and mood. :)

BR

[2020-09-22 19:13] #241 closed

[2020-10-01 07:56] pidgeon777 opened #248 "[Bug] After file change and compare it is not possible to undo anymore"
Hi, I'm using Compare Plugin version v2.0.0, Notepad++ v7.8.2.

When comparing two files, if I modify one of them subsequently comparing them again, it is not possible to undo anymore (even the undo icon is greyed out).

[2020-10-03 23:11] pnedev commented on #248
Hi @pidgeon777 ,

That is a known issue for Compare version 2.0 (and before that). It is how it is supposed to work.

The new plugin (ComparePlus) does not have that problem. Let's hope I'll release it someday (I stopped promising people when this is supposed to happen because I changed the date several times already).

BR

[2020-10-06 18:11] blueicehaller opened #249 "Align compare tab when using multiline tab mode (continuation)"
Hi,
I'm facing the same behavior described here:
[Align compare tab when using multiline tab mode · Issue #60 · jsleroy/compare-plugin · GitHub](https://github.com/jsleroy/compare-plugin/issues/60)
with Notepad++ v7.8.9 x64 and [Compare v2.0.1 x64](https://github.com/pnedev/compare-plugin/releases/tag/v2.0.1)
when activating "Multi-Line" and uncheck "Vertical".

I thought it was closed/corrected?

[2020-10-07 11:13] pnedev commented on #249
Hi @blueicehaller ,

This is a known issue in Compare plugin v2.0.1 and all prior versions.
It is fixed and will be OK in the new plugin I'm currently developing - ComparePlus. It is not released yet. I hope it will be soon but cannot promise anything.

BR

[2020-10-07 14:26] Wayfarer-es commented on #201
I just confirm what @broszkiet, @Corendiel, and @penguinairlines have already said: I had the same issue and it has been **solved by just uninstalling the Compare plugin** using Plugins Admin and then **installing it again**.

Using Notepad++ 7.9 64-bit with Compare Plugin v2.0.1 on Windows 10 Pro 64-bit 1919 Build 18363.1082

[2020-10-22 22:45] gepruts opened #250 "Thank you!!"
Just want to say thanks and couldn't find any other way.

This is so much better than the original compare plugin.
Must have been a tremendous lot of work to iron out all the wrinkles and more serious issues.
I am glad that you did as you gave the world a very useful plug-in.

So ... Thank you!! :-)

[2020-10-23 10:48] Yaron10 commented on #250
@gepruts,

Pavel Nedev deserves many praises and thanks for his work.

You might be interested in the ComparePlus development version which is even better.
https://ci.appveyor.com/project/pnedev/compare-plugin.
(Select the platform and then click "Artifacts").

https://github.com/pnedev/compare-plugin#installation.

Best regards.

[2020-10-23 13:21] pnedev commented on #250
Thank you @gepruts
for the kind feedback, I appreciate it. Enjoy! :)

Thank you @Yaron10 ,
hope you are doing well my friend. :)

BR

[2020-10-23 13:21] #250 closed

[2020-10-23 18:27] Yaron10 commented on #250
Hello my friend Pavel,

I'm fine. Thank you.
I've seen your recent important PRs in NPP. :+1:

BR

[2020-10-23 18:28] Yaron10 opened #251 ""Show Diffs Only" ignored after editing a file"
Hello Pavel,

**STR:**
Check "Auto Re-Compare on Change".
Compare.
Check "Show Diffs Only".
Delete a line.

**Result:**
The entire documents are displayed.

Whenever you're back. :)

Thank you.
BR

[2020-10-26 15:40] pnedev commented on #251
Hello Yaron,

I'll check that, thanks for filing the issue 👍

BR

[2020-10-26 19:32] Yaron10 commented on #251
:+1:

[2020-11-11 18:57] pnedev commented on #251
Hello Yaron,

I hope you are well.

Are you trying this with the latest dev commit?
I was not able to reproduce the issue, could you verify it again?

Thanks a lot! :+1:

BR

[2020-11-12 00:56] Yaron10 commented on #251
Hello Pavel,

I'm fine. Thank you.
I hope you are well too.

I also hope that your reply is a good sign. :)
(No pressure meant whatsoever).

I've tested it again and, indeed, it does not happen with every (deleted) line.

Could you please compare [these files](https://github.com/pnedev/compare-plugin/files/5527573/TEST.zip)?
Check "Show Diffs Only".
Select and delete line `102` in `prefsNew.js`.

[2020-11-12 06:48] pnedev commented on #251
Hello Yaron,

I'm fine as well, thank you.

I do, don't worry :)

Thanks a lot for the sample files - I tested with them and could reproduce the issue.
Now I have a way to reliably verify my fix ;)

I'll write again,
Stay safe and
BR

[2020-11-12 14:47] pnedev commented on #251
Hello again Yaron,

The latest commit on dev branch should fix the issue - I couldn't reproduce it anymore.
Here is the x86 binary: https://ci.appveyor.com/api/buildjobs/ps8at5cq468230kg/artifacts/ComparePlus.dll

Tell me if it works for you as well.
Thanks again, that was a good catch :+1:

BR

[2020-11-12 19:52] Yaron10 commented on #251
Hello Pavel,

I'm glad you're doing well.
And I'm glad you've found the time to look into it.

It works like a charm.
Thank you for the quick fix. I appreciate it. :+1:

BR

[2020-11-12 19:52] #251 closed

[2020-11-17 22:52] moob158 opened #252 "ComparePlus 64 bits not detect moves"
ComparePlus 64 bits not detect moves and many compiler warnings and  loss of data in VS 2019

it is possible to obtain a ComparePlus **64 bit** that works like the 32 bit version?

32 bit work fine, but not work on Notepad++ 64 bit

there is version Compare 2.0.1 that works, but it lacks many functions of the ComparePlus version like auto-recompare

[2020-11-19 08:52] pidgeon777 opened #253 "ComparePlus download availability"
I see many users talking about the new ComparePlus (beta version I suppose).

Is there a way to test the latest released version?

[2020-11-19 12:41] Yaron10 commented on #253
@pidgeon777,

https://ci.appveyor.com/project/pnedev/compare-plugin/build/job/ps8at5cq468230kg/artifacts (**x86**).

https://github.com/pnedev/compare-plugin#installation.

[2020-11-19 19:27] pidgeon777 commented on #253
Great, thank you!

[2020-11-19 19:52] pnedev commented on #253
Hello @pidgeon777 ,

ComparePlus is not released but you can try the latest development binary from the link provided by @Yaron10 (thanks for that :+1: )
Currently only x86 version is working with the latest Notepad++ versions.

BR

[2020-11-19 19:52] #253 closed

[2020-11-19 20:01] pnedev commented on #252
@moob158 ,

ComparePlus is not officially released yet. Only the development binaries are available but not all of them are stable.
Currently only the x86 builds will work OK with the latest Notepad++ versions.

x64 variant will be available when I make the first official release of the plugin.

P.S. The x64 build compiler warnings are normal (they are not problematic) but there are Notepad++ plug

[2020-11-19 20:01] #252 closed

[2020-11-19 20:28] Yaron10 commented on #253
Hello Pavel,

Best regards. :)
***
Hello @pidgeon777,

You're welcome. We should thank Pavel for his work.

[2020-11-19 21:19] pidgeon777 commented on #253
It will be enough, I'll conduct some tests and eventually report any found issue. Thanks again.

[2020-11-21 13:15] pnedev commented on #244
Hello Yaron,

I've made a workaround fix for this issue recently and I cannot reproduce it anymore.
Could you verify it on your side?
Here is the x86 binary:
https://ci.appveyor.com/api/buildjobs/78vy8r2i1rhuw4d8/artifacts/ComparePlus.dll

Thanks, I appreciate your help :)

BR

[2020-11-21 14:59] Yaron10 commented on #244
Hello Pavel,

Glad you're back. :)

Due to https://github.com/notepad-plus-plus/notepad-plus-plus/commit/fe18e41d5d0895c481817bc3566f61f0056dc879, I can not reproduce the issue *with the exact STR* in 7.9.1 even without your latest commit.
It's still possible though that with slightly different STR, the problem might occur.

I've tested your latest binary with 7.8.3 and the result may be somewhat

[2020-11-21 16:44] pnedev commented on #244
Hello Yaron,

Lightning-fast reply, as usual ;) ... Thank you.

I couldn't quite understand that. Are the views constantly flickering (in an endless loop)?
That shouldn't happen with the fix. The views might jump on the border where the line number margin changes (it is unavoidable with dynamic margin width) but this shouldn't be infinite flicker.

That is true but I intend to keep the workarounds

[2020-11-21 20:48] Yaron10 commented on #244
Hello Pavel,

STR in the first post.
`shortcutNew.cpp` is active after Compare.

-- **Without** the latest commit - both views are flickering after pressing Next 4 times.
-- **With** the latest commit - `shortcutNew.cpp` is OK, but `shortcutOld.cpp` is constantly flickering. Switching *several times* from one tab to the other, both views are *constantly* flickering.
I've just tested it again with

[2020-11-22 09:47] pnedev commented on #244
Hello Yaron,

Thanks for the explanation and the new STR.
I'm not sure I can fix that issue (with reasonable measures) in all possible cases so I'll leave it as-is for now.

If someday Notepad++ has a plugin API to make the line number margin width fixed I'll use it to fix this problem.

Indeed some are. The current one is an example :)

Thank You once again :+1:

BR

[2020-11-22 20:16] Yaron10 commented on #244
Hello Pavel,

...
If someday Notepad++ has a plugin API to make the line number margin width fixed I'll use it to fix this problem.

:+1:

Thank you for looking into it. As always, I appreciate your work.

BR

[2020-12-02 15:07] marcofbbr opened #254 "Match failure (partial failure)"
Hi,
comparing two tabs I have an inconsistent results when I move the line somewhere else in the file.
Please have a look at the following snapshots. I am focusing on a specific entry that is highlighted in the text.
The \n character has been replaced in both file.

All the notes below refers to the left frame. (the pictures have been added below as well)
-working case  `https://pasteboard.co/JD4z

[2020-12-06 17:42] donho commented on #244
FYI, a new option for displaying constant line number width is added, and also 2 new plugin messages NPPM_GETLINENUMBERWIDTHMODE & NPPM_SETLINENUMBERWIDTHMODE:
https://github.com/notepad-plus-plus/notepad-plus-plus/commit/c9c2d1e3761154a3024d80dd3bd22db446987a0b

[2020-12-07 22:59] pnedev commented on #244
Thank you @donho for this useful improvement and thanks for letting me know as well :+1:
Keep-up the good work you are doing on Notepad++ !

[2020-12-07 23:23] pnedev commented on #254
Hi @marcofbbr ,

Thanks for filing this issue and sorry for my late reply.

I have stopped working on Compare plugin and it is currently not supported.
It has some issues with moved lines detection so probably this is what you have actually hit.

The good news is that I've been working quite some time now on a new plugin - ComparePlus that is Compare plugin successor but very enhanced one. It has

[2021-01-13 08:26] CC007 opened #255 "Installation fails"
When trying to install the plugin through the Plugins Admin interface, notepad++ closes after hitting the install button and doesn't start back up automatically. When opening notepad++ manually afterwards, the plugin is not installed.

The manual installation of the plugin did work without issues (after I found out I had to put it one folder deeper)

[2021-01-13 15:04] pnedev commented on #255
Hi @CC007 ,

The installation of the plugin through Notepad++ Plugin Admin is not related to the plugin itself - it is an issue with Notepad++ and Plugin Admin. That's why I'm going to close this issue report but thanks for filing it anyway.

Some info:
Plugin Admin tries to get the plugin you wish to install from a URL that is pre-configured when your Notepad++ version was released. That URL shou

[2021-01-13 15:04] #255 closed

[2021-01-13 16:11] CC007 commented on #255
Oh yea, the proxy. Forgot about that. Thanks for the reply.

[2021-01-18 12:00] niente0 opened #256 "Sometimes modified text disappears when saving"
**Sometimes modified text disappears when saving.**

As an example, I attach 2 files: "first.asp" and "second.asp".
1. Compare first to second
2. Add the missing "end if" in second file to make it identical to the first file
3. Click on "save"

Result: the "end if" DISAPPEARS.
Please fix!
Thank you

Attachment: [example.zip](https://github.com/pnedev/compare-plugin/files/5830044/example.zip)

[2021-01-18 23:29] pnedev commented on #256
Hello @niente0 ,

I couldn't reproduce your issue with Compare plugin v2.0.1 in Notepad++ v7.9.1.
What are the Notepad++ and Compare plugin versions on your side ?

[2021-01-18 23:53] pnedev commented on #256
Hi again @niente0 ,

I think I understand now.
You are using Compare plugin v2.0 (or v2.0.1 , doesn't really matter) and you are entering the missing text in the gray line, correct? After the file save the entered text in the gray line disappears, yes?

[2021-01-21 12:39] niente0 commented on #256
Yes, exactly. If I enter the missing text outside the grey line it works, while inside it disappears.
I think there could be 2 solutions:
1. accept the text entered into the grey line
2. prevent the user from entering text in the gray line

Thank you!

btw I'm using v2.0.1 with Notepad++ v7.9.1

[2021-01-21 23:24] pnedev commented on #256
Thank you for the reply @niente0 and for filing this issue.

Unfortunately I have stopped supporting ComparePlugin.
The good news is that I have almost finished a new comparing plugin I've been working on for quite some time - ComparePlus.
It is based on Compare plugin but is significantly enhanced and improved. It doesn't have the problem you describe.
I just hope I'll be able to finally make its

[2021-03-02 23:41] jkiller295 opened #258 "Unable to read text when using Dark Theme"
I'm using this Dark VS theme https://github.com/hellon8/VS2019-Dark-Npp. When I compare 2 files, the text colour turns grey which is barely visible on the black background.

Is there a setting to change text colour when comparing files?

[2021-03-14 14:50] pnedev commented on #258
Hi @jkiller295 ,

Currently there is no way to change the font colour when comparing files.
Only the foreground colouring can be set (the compare diffs marking and highlights).

Sorry for the late reply.

[2021-03-14 14:50] #258 closed

[2021-04-24 23:28] ipoopedmypantsuups opened #259 "THE most annoying issue by far."
Why isn't Synchronize Vertical Scrolling turned on by default when you compare 2 files? Possibly the strangest and by far, most annoying change. I like the old version better, why did you have to disable it by default?

[2021-04-25 22:43] pnedev commented on #259
https://github.com/pnedev/compare-plugin/issues/201

[2021-04-25 22:43] #259 closed

[2021-04-30 14:32] VladiStep opened #260 "[Suggestion] Please, add difference type filter"
It would be nice if you add the "difference type filter" - possibility to show only selected types of difference (added, missing, moved, differs...)

[2021-05-05 11:30] pnedev commented on #260
This is a nice suggestion, thanks

[2021-06-07 12:35] Eenpersoonscommissie opened #261 "Icons not visible with Notepad++ dark theme"
Hi, Notepad++ v8.0 introduced the possibility for a dark ui-theme. With is there is an empty space where the compare buttons should be (they are there, but invisible). The rest of the icons (not only native ones) are shown in a light version. Apparently Notepad++ has a way to switch these if light icons are available (like in f.e. Nextcloud you can use name.svg and name-dark.svg as icons).

[2021-06-07 14:13] pryrt commented on #261
specifically, plugin authors need to call NPPM_ADDTOOLBARICON_FORDARKMODE instead of NPPM_ADDTOOLBARICON if version 8 or newer.  (Actually, I don't think it hurts to call both, to keep the plugin compatible with older versions...)

[2021-06-09 03:02] CypherAus commented on #261
The icons are there (invisible) just mouse over and the tip pops up or use the compare menu items as a work around until resolved.
The Dark theme is great.  Compare is a great plugin!

[2021-06-17 18:35] bbehrad opened #262 "Print Functionality"
I suggest a print functionality with side by side view similar to what can be seen on the screen, longer lines can be wrapped to fit the paper. Thanks!

[2021-06-23 08:42] pnedev commented on #261
Hi @Eenpersoonscommissie ,

I have stopped supporting the ComparePlugin but I have been planing on releasing a new Compare plugin that is a very enhanced descendant of it which will be named ComparePlus.
Unfortunately its development is stalled for a very long time now (8 months or so) due to my busy schedule.
I will have your request in mind when I continue with the development.

BR

[2021-06-23 08:46] pnedev commented on #262
That is a nice suggestion but I can't promise anything. Most likely I won't have time working on this.
Thanks

[2021-06-24 11:22] amolwmg opened #263 "Suggestion: char differences instead of word differences"
Can you add a feature to highlight character differences within words instead of words themselves?

[2021-06-29 19:33] nileplumb commented on #248
this bug has finally shown itself to me unsure how I've managed to avoid it all this time

[2021-07-01 13:42] pnedev commented on #263
It is already added in my new plugin ComparePlus and will be available in its official release.

[2021-07-11 05:32] chcg commented on #261
See also https://github.com/notepad-plus-plus/notepad-plus-plus/issues/10131

[2021-07-15 08:36] nentrium opened #264 "Edit history may be comprised after editing during a compare of two edited files."
Description of the Issue
As we all know you can move backwards (ctrl+z) and forwards (ctrl+y) through the edit history for open and edited files.
On occasions I may find I want to compare an edited file with another edited file or an open unedited file.
If either or both files are changed during the compare and the compare is canceled (ctrl+alt+x) the edit history for one or both files may be lost

[2021-07-15 11:19] pnedev commented on #264
Hello @nentrium ,

This is a duplicate of this issue - https://github.com/pnedev/compare-plugin/issues/248
Please read my answer there: https://github.com/pnedev/compare-plugin/issues/248#issuecomment-703175771

Shortly put - it will be fixed in the new plugin first release - ComparePlus (whenever that happens :/)

[2021-08-03 14:47] ipoopedmypantsuups opened #265 "Vertical Sync on default is broken again..."
Uninstalled and reinstalled Compare plugin. Restarted Npp++. Synchronize Vertical Scrolling is still not enabled by default.

[2021-08-04 22:27] michal037 opened #266 "text color affected by line's background color"
Plugin version: 2.0.1
Notepad++ version: 8.1.2

I noticed that the color of the text depends on the background color of the line. I recorded a short GIF to show what it looks like. In my opinion, this reduces the clarity of the text when several colors from different backgrounds overlap. I attach my theme and plugin settings in the attachments.

![text_color](https://user-images.githubusercontent.

[2021-08-09 09:56] pnedev commented on #265
When you compare two files do they synchronously scroll in vertical direction?

[2021-08-09 10:07] pnedev commented on #266
I'll take a look at it when I find the time, thanks for the feedback.

BR

[2021-09-15 07:44] CennoxX commented on #261
This was a bug on notepad++'s side that affected also other icons, it is fixed with 8.1.4.

[2021-09-20 11:03] Nibbler311 opened #267 "Confirmation window"
Hi all,

I often have a ton of files open in 'Notepad ++' and it happens that the file comparison is not done with the files that I wanted.
The selection that the plugin has is not the one I expected - the plugin then start the comparison, and although I quickly click on the cancel button, once my error understood, the application does not return control quickly.

Could you add a dialog box specif

[2021-09-25 14:15] pnedev commented on #267
Hi,

And thanks for sharing your idea.
I think such functionality will be cumbersome though and won't have much added value.
I'll keep it open as a request but I don't promise to implement it, sorry.

I would suggest in your case when you are about to make a comparison to first go to one of the files and `Set as first to compare` and then go to the other one and start the comparison.

BR

[2021-09-28 12:47] pnedev commented on #265
Closing this issue as invalid.

[2021-09-28 12:47] #265 closed

[2021-10-01 13:47] AlexVercammen commented on #260
+1.
A work around is to change the color assignment then revert to default if you want.
In my case, "Change Line" has been set to bright yellow so the lines would pop-out when scrolling through. But you still need to catch them and filter would isolate lines instead!

[2021-10-11 12:22] HelderMagalhaes opened #268 "Compare plug-in disrupts Find Previous without notice"
I've been suffering from a functionality break in Notepad++ for some time, but was now only able to narrow it: _Find Previous_ (Shift+F3) stops working when _Compare_ plug-in is installed. Given that key combination is not even listed in Shortcut Mapper I was assuming to be a Notepad++ regression.

Suggestion: **disable** any _Compare_ functionality that is preventing _Find Previous_ from working:

[2021-10-11 21:45] #268 closed, assigned to nobody

[2021-10-13 22:45] EnigmaV8 opened #269 "Does not show up in Notepad++ unless renamed "ComparePlus""
Contrary to the note from Jan 31, 2020, folder structure needs to be exactly as follows to show up in current version NotePad++:

Notepad++\plugins\ComparePlus\ComparePlus.dll
Notepad++\plugins\ComparePlus\ComparePlus\git2.dll
Notepad++\plugins\ComparePlus\ComparePlus\sqlite3.dll

[2021-10-14 07:26] pnedev commented on #269
That is because you have taken the source from master branch and have installed the new ComparePlus plugin that is not yet officially released.
If you go to Release section and take a binary package from there you will be using Compare plugin (the official plugin out there).

The name of the folder needs to match the name of the plugin's dll file - that's the general Notepad++ rule for each of its

[2021-11-07 04:14] Spanden opened #270 "Changed or different lines"
How to change the setting for determining which string is: changed or new?
The first 4 characters match in my strings, but because of the long length of the string, it is highlighted as new. But I need it to be highlighted as changed.

[2021-11-08 08:53] pnedev commented on #270
Currently there is nothing you can do to change that.
Compare does its matching based on whole words and not separate characters.

[2021-11-23 06:53] bsacheri opened #271 "Can you add an option to Ignore Case?"
I am curious if there is a way to make Compare ignore case values in letters. I am using Compare to compare differences in email address lists, and it recognizes that 2 addresses are different if the only thing differing between them is the case value (upper versus lower).  I am also using it to compare SQL which is not case sensitive.

I saw a mention of an "Ignore Case" option in another post bu

[2021-11-23 09:37] pnedev commented on #271
@bsacheri ,

I've been preparing a new plugin called ComparePlus that is meant to be successor or the current plugin and it has the functionality you mention. It is almost finished but unfortunately is in that state for quite some time now (probably a year or even more) due to my busy schedule. I hope I can finish its first official release soon but I cannot give you a date or promise anything now

[2021-11-23 22:45] bsacheri commented on #271
Thanks for the quick response.  I'll try to be patient and hope you can make progress on it over the winter.

👍

[2021-12-07 09:22] hansstangl1 opened #272 "Feature Request: Can you show only differences in compare?"
Can you show only differences in compare?
In SAP you can choose:
Whole text (complete text, as it is currently)
Short form (2 lines before and 2 lines after difference)
Only differences

Some options:
Ignore Case (less differences)
Ignore empty lines (less differences)

You have got functionality already, because on the navigation panel you show the differences.
By that you can check the differenc

[2021-12-08 14:51] pnedev commented on #272
I'll have that in mind, thank for your suggestion.
Most of these features are already implemented in a new compare plugin I'm about to release (soon I hope).

[2021-12-08 15:33] hansstangl1 commented on #272
Hi Pavel.

I have read about your new project.

But you are stuck since 2019 as I have seen.

Hopefully you can release a prototyp soon or improve the old version, which is very good, too.

 

It´s no problem to have two branches :-)

 

br

Hans
 

"Es gibt Dinge, die den meisten Menschen unglaublich erscheinen, die nicht Mathematik studiert haben."

Archimedes

 
 

Gesendet: Mittwoch, 08. Dezem

[2021-12-08 16:46] pnedev commented on #272
Hi again,
I will no longer be working on the old version as I consider it obsolete now.
Yes, I haven't been working on the new plugin since maybe a year but it is almost finished anyway and I guess I'll dedicate some time to do that in the coming month.
BR

[2021-12-08 18:02] hansstangl1 commented on #272
Good news. In Github I had read 29%.

In case u finish you can send info to me, I will install and inform you in case of any errors.

 

br

Hans

Austria

 
 

Gesendet: Mittwoch, 08. Dezember 2021 um 17:46 Uhr
Von: "Pavel Nedev" ***@***.***>
An: "pnedev/compare-plugin" ***@***.***>
Cc: "hansstangl1" ***@***.***>, "Author" ***@***.***>
Betreff: Re: [pnedev/compare-plugin] Feature Request: Can you

[2021-12-09 15:33] pidgeon777 commented on #272
I will no longer be working on the old version as I consider it obsolete now.
Yes, I haven't been working on the new plugin since maybe a year but it is almost finished anyway and I guess I'll dedicate some time to do that in the coming month.
BR

Great news, we're anxiously waiting for the new version 👍.

[2021-12-12 12:14] shocked-gamer opened #273 "comparing two files in NP++ dark mode makes differences unreadable"
### Description of the Issue

when dark mode is enabled in the app, the compare plugin still uses the default colors for the white mode. this makes reading the differences very hard to read.

### Steps to Reproduce the Issue

1. go to settings, preferences and enable dark mode
2. open to text files and press ctrl+alt+c to start the compare
3. see the highlighted results that are hard to read

###

[2021-12-13 08:40] pnedev commented on #273
I'll see what I can do, thanks.

[2021-12-21 15:30] giustizieri25 opened #274 "Compare windows scroll to right or end of line"
When comparing two files side-by-side, the right side pane scrolls to the right, or to the end of line.
This makes the compare operation annoying, as you always have to scroll back everything to the left again, to see the compared contents.

![image](https://user-images.githubusercontent.com/16947497/146955928-5ff4454a-44cc-4b6b-8efc-87590261c354.png)

[2022-01-04 09:26] pnedev commented on #274
This is the intended behavior when the lines are too long and your cursor position is beyond the visible line width.
Then the line is horizontally scrolled and the other compared document is synchronously scrolled to see the selected lines positions side by side and visually inspect them.

If you want to avoid that simply move your cursor position in the beginning of the line or turn on the Wrap L

[2022-01-04 09:26] #274 closed

[2022-01-30 16:16] vinsworldcom opened #275 "Latest test build of Notepad++ crashed when Compare"
Using the latest test builds of Notepad++ where greater than 2Gb file editing is trying to be enabled, comparing regular small files fails with a crash.

1) open 2 small files
2) Plugins => Compare => Compare
3) Notepad++ crashes

Notepad++ v8.2.1   (64-bit) [NOTE THIS IS USING [COMMIT](https://github.com/notepad-plus-plus/notepad-plus-plus/commit/6d311e102e754dd4d31985c1c2681f56b76983cc)]
Build t

[2022-01-31 12:57] vinsworldcom commented on #275
Seems like an easy fix, just add the latest from Notepad++ repo:

+ notepad-plus-plus\scintilla\include\Scintilla.h
+ notepad-plus-plus\scintilla\include\Sci_Position.h

To your repo at:

+ compare-plugin\src\NppAPI

And recompile.  I'm using that experiment test compiled version I did locally with VS2019 an it's working fine so far!

Cheers.

[2022-01-31 22:16] pryrt commented on #275
FYI: with v8.2.2 RC5, Don is disabling ComparePlugin for anyone who has it already installed, and that might mean he's also removed it from Plugins Admin (though I'm not sure) -- which means that users are going to have to start fighting against Don unless an update-with-patch is released ASAP (preferrably before v8.2.2 is fully released)

[2022-02-01 09:24] pnedev commented on #275
@vinsworldcom , @pryrt ,

Michael, Peter, thanks for the heads-up :+1:
I will find some time today/tonight to make a fix release to ComparePlugin (although I have again started working on Compare Plus after nearly two years and I hope to be able to release it in a month or so).
The fix might require more than just changing the Scintilla headers if the change is connected with text ranges as it see

[2022-02-01 11:55] vinsworldcom commented on #275
@pnedev maybe, but looking here

https://community.notepad-plus-plus.org/topic/22471/recompile-your-x64-plugins-with-new-header

That's all @donho mentions.  I did a quick recompile of the compare plug-in with just the scintilla.h and sci_position.h files updated and it seems to work okay without crashing for me.

Also of note, I didn't realize pulling the main branch of your git repo would get me

[2022-02-01 13:04] Yaron10 commented on #275
Hello Pavel,

👍
I'll be looking forward to that. :) Thank you and best of luck.

May I ask if adapting the **current** ComparePlus to NPP 64-bit would require much more work?
I've been using NPP 32-bit on Win 10 64-bit because I remember you've recommended not to use ComparePlus 64-bit.
Just asking. I don't mean to rush you or change your plans.

BR

[2022-02-01 13:32] vinsworldcom commented on #275
@Yaron10

From my comment above you can see in my haste, I replaced the headers and compiled ComparePlus and was using it on 64-bit Notepad++ development (8.2.2) and for the simple compares I was doing - it worked fine.

Cheers.

[2022-02-01 13:38] Yaron10 commented on #275
@vinsworldcom,

Thank you for the info.

Pavel recommended not to use ComparePlus 64-bit about two years ago. :)
So it's not only the recent NPP changes.

[2022-02-01 13:39] pnedev commented on #275
Thanks @vinsworldcom .
I suspect that 64bit ComparePlus from the master branch will not scroll synchronously in vertical direction during compare.
That's why I advised @Yaron10 to use only the 32bit version back then.

Hi @Yaron10 ,

I hope you are doing well :)

It will be difficult at the moment to provide 64bit fix to ComparePlus in master. I really hope to be ready in a month with the first re

[2022-02-01 13:48] Yaron10 commented on #275
Hello Pavel,

I hope you are doing well too. :)

No problem at all.
At the time I used Win 7 32-bit, and I didn't really know what was the issue with ComparePlus 64-bit.

I'm glad you've found some time to Compare.
Thanks again. Much appreciated.

BR

[2022-02-02 16:28] #275 closed

[2022-02-02 16:38] Yaron10 commented on #275
Hello Pavel,

👍
Thanks again for your work. Highly appreciated.

BR

[2022-02-02 17:02] pnedev commented on #275
Hello Yaron,

Thank you.

BR

[2022-02-02 17:16] vinsworldcom commented on #275
@pnedev just tested - works great!  Thank you for the quick turn around and continuing to support excellent (and in my opinion - "essential") N++ plugins.

[2022-02-02 17:35] pnedev commented on #275
@vinsworldcom ,
Thank you too for filing the issue and for the heads-up! :+1:

[2022-02-04 14:50] vinsworldcom commented on #275
Seems to be working fine for me.  I'll probably keep ComparePlugin installed, but not active and use ComparePlus (with my simple header changes) for a while to get used to it.  I'll let you know if anything is amiss.

Also note I'm not comparing files greater than 10Mb on the regular so will probably never hit any >2Gb specific issues dealing with text ranges that may not yet be fixed in the Compa

[2022-02-05 17:10] MountainMan73 opened #276 "v2.0.2 Crashes"
I cannot get v2.0.2 to work properly. I am using 64-bit. I have used Compare for many years and I just upgraded to 64-bit v2.0.2 and every time I attempt a Compare with 2 files open, I get about a 1 second pause and then Notepad++ exits. I have tried with different files, the same text in 2 different files and it happens each time. I just switched back to v2.0.1 and I get it to work as before.

[2022-02-05 23:28] Yaron10 commented on #276
@MountainMan73,

What version of Notepad++ are you using?

[2022-02-06 00:54] pnedev commented on #275
Thank you @vinsworldcom 👍

[2022-02-06 00:58] pnedev commented on #276
@MountainMan73 ,

Compare Plugin v2.0.2 is specifically done for Notepad++ versions 8.2.2 and above.
It WILL crash for versions before 8.2.2.
There are no functional differences between Compare v2.0.1 and v2.0.2 - they are just for different Notepad++ versions.

Thank you @Yaron10 , good point ;)

[2022-02-06 00:58] #276 closed

[2022-02-06 09:31] MountainMan73 commented on #276
I was using v8.2.1. I just installed v8.3 and your Compare 22.0.2 works as it should.

BTW, this is a really nifty add-in. I write VB code for VBA and VB6 and I get versions of modules out of sync all the time and this tool is indispensable for me. I have been using it for quite a while now. Good job. Thanks for writing/supporting it.

[2022-02-08 01:40] specul8 opened #277 "ARM64 Compilation?"
Hi! Is it possible to get a compilation of this as ARM64 to support the ARM64 version of N++?

Thanks!

[2022-02-08 14:14] pnedev commented on #277
@specul8 ,
OK, I will look into it.

[2022-02-09 19:17] NebrBorn opened #278 "Restore to Default Zoom"
When compare is run, application restores to default zoom setting.

[2022-02-11 13:54] mvaneijken opened #279 "Notepad++ Crashes when comparing text files"
Notepad++ crashes when comparing text files. It makes no difference which file or what the length is.

Notepad++ 8.2.1.0 x64
Compare Plugin v2.0.2 (installed using plugins admin)
OS: Windows 11 Enterprise

Crash report:
Version=1
EventType=APPCRASH
EventTime=132890607841788005
ReportType=2
Consent=1
UploadTime=132890607845068012
ReportStatus=268435456
ReportIdentifier=1931b395-a279-4b50-978b-66e85

[2022-02-11 14:16] Yaron10 commented on #279
@mvaneijken,

See https://github.com/pnedev/compare-plugin/issues/276.

[2022-02-11 19:51] mvaneijken commented on #279
Check, searched for it but didn't found it on that moment. This one is closed then,

[2022-02-11 19:51] #279 closed

[2022-02-17 08:14] pnedev commented on #278
I can reproduce it in Compare plugin 2+, OK.

Unfortunately I have stopped supporting Compare plugin and will no longer do functional changes to it, only Notepad++ compatibility fixes.

The good news is that I will be releasing in a month a new compare plugin named ComparePlus that is very enhanced continuation of Compare 2 and it doesn't have that flaw.

[2022-02-17 16:52] britonk1 opened #280 "Compare causes Notepad++ to crash"
Hi, I've started having a problem with the compare plugin. When I attempt to compare anything the process starts but then Notepad++ just closes down unexpectedly.

I have version 8.1.9.3 (64 bit) installed.

This even happens if I just create two new tabs and type something random in each.

[2022-02-17 17:17] Yaron10 commented on #280
See https://github.com/pnedev/compare-plugin/issues/276.

[2022-02-23 08:50] nielsvdc commented on #273
Maybe add an ability to manually change the font color?

And of course it would be super to automatically detect dark mode and change the color settings accordingly.

[2022-02-23 23:26] ageekhere commented on #273
I also have this issue, looking forward to a fix.

[2022-02-24 08:45] pnedev commented on #273
@nielsvdc ,

You can change the colors manually by going to the plugin menu and opening its Settings.

The fix will be to make automatic default colors for N++ dark mode.

[2022-02-25 16:16] jcstevensri opened #281 "Notepad++ 8.2.1 forcing ComparePlugin v2.0.2 (not compatible)"
Notepad++ disabled my working 2.0.1 ComparePlugin. When I went into the Plugin Manager and searched for ComparePlugin, the only version available was 2.0.2. Running Notepad++ 8.2.1 with ComparePlugin 2.0.2 crashes Notepad++ upon selecting a file for comparison.

I saw the note here that 2.0.2 only works with Notepad++ 8.2.2+.

To resolve, I had to close Notepad++ and copy the 2.0.1 ComparePlugin.d

[2022-02-27 12:08] pnedev commented on #281
@jcstevensri ,
It appears that the PluginsList of Notepad++ v8.2.1 is not correct.
Every Notepad++ version comes with a list of compatible plugins (available for installation through its Plugins Admin) and it is its responsibility to point to the correct plugins versions.

You could report that mismatch either in plugins list repo: https://github.com/notepad-plus-plus/nppPluginList
or in Notepad++

[2022-02-27 12:08] #281 closed

[2022-02-28 09:01] Krammig opened #282 "v2.02 causes Notepad++ to Crash"
I have an issue with Compare, might well be something I am doing wrong or a setting somewhere, so I thought I would try v2.02 just in case it resolves it before I post my issue.

However after selecting two files, and selecting Compare, I get a crash as follows.

Just sharing in case it is helpful, I will just drop back to v2.01

Windows 7  SP1
HP i7
16GB Mem

Cheers

Problem signature:
  Problem

[2022-02-28 09:04] Krammig opened #283 "Comapring two files, clicking at a location jumps the cursor to a previous location on that line."
I have come across an annoyance, but perhaps it is just me overlooking a setting …

I have two files open for compare.

When I click at a position on a line, the screen jumps back to an earlier location on that line and thus I then have to go and find the location I want and once again click in that location. Sometimes that is Ok, most times not.

What I usually have to do is after the screen jump

[2022-02-28 11:44] jcstevensri commented on #281
Reported to Notepad++ Plugin Forum - https://community.notepad-plus-plus.org/topic/22651/notepad-8-2-1-incompatible-with-compareplugin-2-0-2

[2022-02-28 11:46] jcstevensri commented on #280
@Yaron10
Reported to Notepad++ Plugin Forum - https://community.notepad-plus-plus.org/topic/22651/notepad-8-2-1-incompatible-with-compareplugin-2-0-2

[2022-02-28 11:46] jcstevensri commented on #279
@mvaneijken
Reported to Notepad++ Plugin Forum - https://community.notepad-plus-plus.org/topic/22651/notepad-8-2-1-incompatible-with-compareplugin-2-0-2

[2022-02-28 11:46] jcstevensri commented on #276
@MountainMan73
Reported to Notepad++ Plugin Forum - https://community.notepad-plus-plus.org/topic/22651/notepad-8-2-1-incompatible-with-compareplugin-2-0-2

[2022-02-28 14:32] pnedev commented on #282
@Krammig ,
Please read the release notes of Compare plugin v.2.0.2: https://github.com/pnedev/compare-plugin/releases/tag/v2.0.2
Compare 2.0.2 is NOT compatible with Notepad++ 8.2.1

[2022-02-28 14:32] #282 closed

[2022-02-28 14:35] pnedev commented on #283
@Krammig ,

I didn't understand you description, sorry.
Could you give step-by-step instructions how I can reproduce that?
Thanks.

[2022-02-28 14:49] pnedev commented on #281
Thanks @jcstevensri .

I saw the thread in Notepad++ community page and noticed Peter's reply there.
It appears that Notepad++'s Plugins Admin is pointing to the right Compare plugin version as tested and reported by Peter.

So perhaps indeed you are still using Plugins Manager (it is Notepad++'s plugin itself) and talking about it rather than the built-in Notepad++ Plugins Admin functionality and

[2022-03-01 15:06] garvarma opened #284 "Notepad++ crashed using compare plugin"
I installed in new PC with Windows 10 64bits, the Notepad ++ v8.2.1 (64bits).

Alter using Plugin Admin I installed compare plugin (v2.0.2). When i try to compare 2 files, appears a little windows with progress bar, and after 1second, all notepad ++ aplication closed.

What it happends? What else i can see?

Thanks

[2022-03-02 05:10] rdipardo commented on #284
<https://github.com/pnedev/compare-plugin/releases/tag/v2.0.2>:

[2022-03-03 00:26] pnedev commented on #284
@garvarma ,

Did you use Plugins **Admin** to install Compare or you used Plugin **Manager**?

[2022-03-03 17:21] greg-michael commented on #284
@pnedev I had this same issue, and I used the Plugins Admin to install, because the Compare plugin had disappeared from my N++ installation. I updated N++ to v8.3.1 and the issue was resolved.

[2022-03-11 23:55] pnedev commented on #284
Thanks for the feedback @greg-michael

[2022-03-12 00:02] pnedev commented on #284
All,

It seems there might be some problem with Notepad++ v8.2.1 PluginsAdmin Compare plugin versioning. Perhaps it is only true for the 64bit version, I don't know for sure.
I cannot do anything about it so if you happen to have the same issue please use Compare v2.0.1 with Notepad++ v8.2.1. You can download it from the Releases section here and install it manually.

I am sorry for the inconvenie

[2022-03-27 13:46] RFBomb commented on #273
There is no setting for 'Font Color' in the plugin settings page.

[2022-03-28 08:24] pnedev commented on #273
Oh, yes, you are right about the font color. It cannot be changed currently.
I miss-interpreted the question as it was about the background color, sorry.

[2022-03-29 10:29] mappao commented on #273
Also an option to disable highlight colors and leave just icons at left of involved rows would be really appreciated here ;) Thank you

[2022-04-03 08:56] pnedev commented on #273
@mappao ,

Unfortunately that will not be currently possible.
You could open another ticket for that request if you like just to have that filed but I cannot promise it will be implemented, sorry.

[2022-04-03 17:34] #283 closed

[2022-04-06 13:43] pnedev commented on #277
Could you please try this [ARM64](https://ci.appveyor.com/api/buildjobs/72ewq2upcnfwdvuy/artifacts/ComparePlus.dll) build and tell me if it is working?
Put the DLL in Notepad++ plugins folder under _ComparePlus_ subfolder and restart Notepad++.
Please have in mind that it is the new ComparePlus plugin which is not yet officially released and there are also no ARM64 Git and SVN libraries included s

[2022-04-07 15:05] Yaron10 commented on #275
Hello Pavel,

The break has been relatively short this time. :)
I hope you're doing well.

Thank you very much for https://github.com/pnedev/compare-plugin/commit/6b7bf7f6abc60d84bcc7130a37a50c19f53e0d64.
Again, I appreciate your time and work. 👍

I've been using the 64-bit version for the last couple of months.
The only issue (unique to 64-bit) I've encountered was the wrong file getting focus af

[2022-04-08 02:39] specul8 commented on #277
Worked perfectly - Thanks Pavel!

Brad

From: Pavel Nedev ***@***.***>
Sent: Wednesday, 6 April 2022 11:43 PM
To: pnedev/compare-plugin ***@***.***>
Cc: specul8 ***@***.***>; Mention ***@***.***>
Subject: Re: [pnedev/compare-plugin] ARM64 Compilation? (Issue #277)

Could you please try this ARM64
<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fci.appvey
or.com%2Fapi%2Fbuildjobs%

[2022-04-08 07:37] pnedev commented on #275
Hello Yaron,

Nice 'hearing' from you again, I'm OK, thank you. :)

Don't even mention it ;)))

I would recommend using the temporary build https://github.com/pnedev/compare-plugin/commit/3f412a13eb4eba3c2e6379ead962b91ad63bd904 which uses multiple threads in changes detection phase speeding up compares with many changed sections.
Here is also the 64-bit [DLL](https://ci.appveyor.com/api/buildjobs

[2022-04-08 07:41] pnedev commented on #277
Excellent, thanks for the quick check Brad.

Later I'll see if I could easily build the Git and SQLlite libraries for ARM64.

[2022-04-08 09:49] Yaron10 commented on #275
Hello Pavel,

I'm glad you're well.
Communicating with you is always a pleasure.

I've updated to https://github.com/pnedev/compare-plugin/commit/3f412a13eb4eba3c2e6379ead962b91ad63bd904.
Thank you for this improvement as well. 👍

BR

[2022-04-08 10:27] vinsworldcom commented on #275
@pnedev I've been using ComparePlus since the Notepad++ 8.2.2 / 8.3 plugin breaking change and have had no issues.  Much better than the original!  I've updated to the latest version you recommend and will continue to use in my daily workflow.

Thank you for continued improvements to this excellent Notepad++ plugin!

Cheers.

[2022-05-04 15:22] JazzfanRS opened #285 "Option to see statistical information."
I just reinstalled Compare. I don't know what the current version is. Running on Windows 7.

Would like to see option to view statistical information about the comparison. Placement of information ideally placed in truncated NavBar.

My scenario is two +/- 30,000 line files, with very little white space. The two files have about 200 - 300 identical lines (including moves) scattered within the 30k

[2022-05-05 08:53] pnedev commented on #285
I did not understand what statistical information exactly you need.

The new compare plugin I'm working on - ComparePlus shows statistics like number of added/moved/matched/removed lines but it is not released yet.
If you want you can try it by manually installing the current development binary but it is for Notepad++ versions above 8.3.3 (included). You'll need [32 bit](https://ci.appveyor.com/ap

[2022-05-05 09:25] revirevy opened #286 "Compare 2.0.2 is no more compatible with Notepad++ (after upgrade to V8.3.3)"
Hello

Compare 2.0.2 is no more compatible with Notepad++ (after upgrade to V8.3.3)

Error message : "GUP : the plugin package is built wrongly. this plugin will be uninstalled"

Best regards,

[2022-05-05 12:14] pnedev commented on #286
Hi,

It should be working.
Try uninstalling Compare and then installing it again (through Notepad++'s Plugin Admin from the plugins menu).
Write back if it works.

BR

[2022-05-05 15:19] JazzfanRS commented on #285
What you described is the features I needed.

Two 30,000-line files with no dead space (empty lines, tabs, or spaces). I had used compare plugin on another machine years ago and wanted NP++ and plugins on it as well. My request was made before I looked into what else was in the GitHub. (I recently signed up).

I followed directions to install it manually, but having problems with it showing up in

[2022-05-05 23:55] pnedev commented on #285
You can leave ComparePlugin 2.0.2 and just replace the ComparePlugin.dll with ComparePlus.dll from https://ci.appveyor.com/api/buildjobs/kbnlw5l0vpyq6v69/artifacts/ComparePlus.dll BUT you MUST also rename ComparePlugin subfolder where the DLL is located to ComparePlus.
So finally you should have `Notepad++\plugins\ComparePlus\ComparePlus.dll`

[2022-05-06 00:59] JazzfanRS commented on #285
Okay, thank you it's working now! Thank you!

[2022-05-09 18:59] jocker-il commented on #273
Plugin-admin doesn't show there is a newer version for Compare - so is it better to remove compare and install comparePlus ? I'm using 8.1.8 x64, but no problem updating to newest ofc

[2022-05-09 19:21] jocker-il commented on #270
Is it same as this ? or is this a different issue - talking about the difference of lines like 63, 67, 75, 79 & 82  - why are they marked as 'Added' in the default config file VS 'Deleted' in the current config file while the lines around them have the same differences and are marked as 'Changed' which makes sense to me ?

![image](https://user-images.githubusercontent.com/13031901/167482081-d9795

[2022-05-10 10:44] pnedev commented on #270
@jocker-il ,

I cannot load the image at the moment. I'll get back to you when I check it.

[2022-05-12 08:53] stortec commented on #286
Hi,

I had the same problem, after starting Notepad++ as administrator I was able to install it.

Best regards

[2022-05-12 14:23] pnedev commented on #286
Thanks for the info @stortec 👍
I will mark that issue "invalid" then.

BR

[2022-05-12 14:49] pnedev commented on #270
@jocker-il ,

OK, I saw your image, thanks for uploading it.
The lines are not marked as changed because of the size of the parts that differ. Compare works in a way that there is an internal threshold that determines if the mismatching lines are to be considered "changed" or completely different.  That threshold is percentage of the matching portions of the lines related to the size of the bigger

[2022-05-12 15:09] pnedev commented on #244
Hello @Yaron10 ,

I hope I find you in good health and mood ;)

I implemented the new fixed-width line margin API provided by Don, so this problem will be no more (I hope, unless another plugin joins the party and reverts the line margin to dynamic but that is very unlikely).

I really wanted to be able to make a release that is compatible with older Notepad++ versions but with the many recent Not

[2022-05-12 15:11] #284 closed

[2022-05-13 09:29] Yaron10 commented on #244
Hello my friend Pavel,

Health and mood are dynamic. :)
I hope you are fine too.

Thank you for this important fix. I appreciate it. 👍
(I've been using the fixed-width since it was introduced).

👍

I wish you luck with the rest of the work on ComparePlus, and all the best.

[2022-05-23 18:31] ten2120 opened #287 "Plugin crashes on NP++"
Hi there,
ComparePlugin v2.0.2 (x64) crashes on NP++ v8.4.1 Minimal Portable version (I had no issue with previous versions).

Debug Info:
Notepad++ v8.4.1 (64-bit)
Build time : May 8 2022 - 19:51:18
Path : D:\Notepad\notepad++.exe
Command Line :
Admin mode : OFF
Local Conf mode : ON
Cloud Config : OFF
OS Name : Windows 11 (64-bit)
OS Version : 2009
OS Build : 22000.652
Current ANSI codepage : 125

[2022-05-24 20:39] pnedev commented on #287
Hi @ten2120 ,

I did a quick test with Notepad++ 8.4.1 64-bit (the installable version) under Windows 10 and everything worked normal.
Could you tell me where you got the Compare plugin 2.0.2 from?
Is there a chance you can try on Windows 10 computer? I have never tested Compare on Windows 11.

BR

[2022-05-25 03:24] rdipardo commented on #287
Cannot reproduce using 8.4.1 portable on Windows 11 (Home edition) and Compare 2.0.2 (installed via Plugins Admin).

![compare_202_npp_8 4 1_x86_64](https://user-images.githubusercontent.com/59004801/170171613-ba60b8f6-0451-4b61-bf80-4d10160c96ca.png)

    Notepad++ v8.4.1   (64-bit)
    Build time : May  8 2022 - 19:51:18
    Path : C:\Users\Rob\git\npp_8.4.1_x86_64\notepad++.exe
    Command Line

[2022-05-25 10:42] pnedev commented on #287
@rdipardo ,

Thank you very much for testing and reporting! :+1:

@ten2120 ,

How and where from have you installed Compare plugin?

[2022-05-26 07:37] pnedev commented on #287
@ten2120 ,

I just tried Notepad++ 8.4.1 portable minimal 64-bit (https://github.com/notepad-plus-plus/notepad-plus-plus/releases/download/v8.4.1/npp.8.4.1.portable.minimalist.x64.7z) with Compare plugin 2.0.2 64-bit from my releases (https://github.com/pnedev/compare-plugin/releases/download/v2.0.2/ComparePlugin_v2.0.2_X64.zip) and it worked OK.
Your plugin path is the same as mine. The only diff

[2022-05-26 09:30] ten2120 commented on #287
@pnedev Many thanks for your help. I compare my txt files with "Word" (it is just more complicated with MS Word). I hope this problem be solved in future (your plugin was a great assistant for me, thanks for it!).

[2022-05-30 08:00] #286 closed

[2022-05-30 08:02] #225 closed

[2022-05-30 09:30] sweddd opened #288 "Comparison doesn't work Oo"
Hello.
First of all, I would like to thank you for such a handy plugin that has helped me many times.
I also have to apologize for my terrible English.
So.
Until recently, everything was great.
Then I had to reinstall Windows and all programs. After that, the Compare plugin began to work "not like before".
I am comparing two tables. In the first table - only IDs, in the second table - some of thes

[2022-05-30 12:12] sweddd commented on #288
I will add. It can still do what I need if I compare ID ONLY.
![image](https://user-images.githubusercontent.com/95692357/170989766-4e5b7a3d-df96-4ff7-8b52-f431dad9ae17.png)

[2022-05-30 12:58] monolied commented on #287
2.0.2 also crashes on my Notepad++ 8.4.1 portable under Win 10.

[code]

[2022-05-30 13:17] monolied commented on #287
Hm, I just installed 2.0.2 manually (in ComparePlugin folder), without Plugin Manager, and now it seems to work. Maybe Plugin Manager was unable to fetch 2.0.2 or there was some irritation with ComparePlus/ComparePlugin?

[2022-05-31 12:05] pnedev commented on #288
@sweddd ,

I stopped supporting Compare plugin because I'm close to releasing a new plugin named ComparePlus that is based on Compare but much more enhanced.

Meanwhile, can you tell me your Notepad++ version, the Compare plugin version and if you have other plugins installed?
Just go to Notepad++ menu, the question mark ('?') at the end and then click on `Debug Info...`.
Copy the info and paste i

[2022-06-02 08:18] sweddd commented on #288
@pnedev
Notepad++ v8.4   (64-bit)
Build time : Apr 20 2022 - 03:31:06
Path : C:\Program Files\Notepad++\notepad++.exe
Command Line :
Admin mode : OFF
Local Conf mode : OFF
Cloud Config : OFF
OS Name : Windows 10 Home Single Language (64-bit)
OS Version : 2009
OS Build : 19044.1706
Current ANSI codepage : 1251
Plugins : ComparePlugin.dll mimeTools.dll NppConverter.dll NppExport.dll

[2022-06-02 11:45] monolied commented on #287
That's true. Like I wrote, it disappeared from the plugin list every time after the crash and restart. It reappeared after an install via the Plugin Manager or a manual reinstall.

I'd also consider the matter closed as far as I'm concerned. Since the Plugin Manager seems to fail to install the 2.0.2 plugin (it _looked_ like success, but must have been the old one still) it seems to be a problem w

[2022-06-02 11:53] pnedev commented on #288
@sweddd ,

I have no idea what might be wrong at the moment. It doesn't seem you are doing anything wrong.
I would suggest to try reinstalling Compare plugin again manually:
- exit Notepad++ if it is running
- delete your current Compare plugin from `C:\Program Files\Notepad++\plugins\ComparePlugin\` (all files and folders in that folder)
- delete your current Compare plugin config from `C:\Users\

[2022-06-02 11:57] pnedev commented on #287
@monolied ,

Yes, I agree with you. It might be related to Plugin Manager's issue but for @ten2120 that's not the case.
Thanks for writing.

[2022-06-02 12:01] pnedev commented on #287
@ten2120 ,

Just a quick question.
Have you changed any settings of the ComparePlugin before the crash (that is any settable options of the plugin from its menu section) ?
Thanks.

[2022-06-02 15:18] sweddd commented on #288
Nothing changed :0(
![image](https://user-images.githubusercontent.com/95692357/171663037-a574c7b5-d067-424f-85c4-521f7891d40a.png)

[2022-06-03 07:48] pnedev commented on #288
Thanks for trying.
Let's wait for me to release the new ComparePlus plugin and see if it has that problem as well.

[2022-06-14 12:28] pnedev commented on #245
Hi Yaron,

This should be fixed in my latest dev branch.
Thanks for the thorough testing of ComparePlus and for your patience, I appreciate it.
We are slooowly moving towards the first release :)

BR

[2022-06-14 12:51] pnedev commented on #195
@chcg ,

After several years of pause in the development I'm getting really close to releasing ComparePlus.
Regarding that I made also configuration for ARM64 plugin build but I haven't built libgit2 and sqlite for ARM platform.
Do you by any chance have built those for ARM64?
If yes, could you please do a merge request here adding the ARM64 lib binaries to https://github.com/pnedev/compare-plugin

[2022-06-14 15:36] pnedev commented on #205
@pidgeon777 ,

The new plugin ComparePlus will have command line run possibility like this:

`notepad++ -pluginMessage="compare" old_file.txt new_file.txt`

Min. Notepad++ version required is 8.4.2. The plugin will be released soon (fingers crossed :))

BR

[2022-06-14 16:06] Yaron10 commented on #245
Hello Pavel,

👍
Great!

Another bug where in some cases you can not go to the first diff, is also fixed now.
(I don't remember if we've discussed that case).

I'm glad you're back and going full force. :)
I'll be looking forward to the first release. Best of luck.

Thank you very much. I do appreciate your time and work.

BR.

[2022-06-14 16:06] #245 closed

[2022-06-15 19:14] chcg commented on #195
@pnedev Sqlite I just took from the release https://sqlite.org/download.html. There no arm64 binary is released.
For libgit2 I build the version via appveyor that should be possible also for arm64.

[2022-06-16 08:09] pnedev commented on #195
@chcg ,

Thank you once again for the libraries update, I appreciate your help.

Yes, I'm working on the dev branch. I haven't transferred the changes to master yet.

[2022-06-21 09:13] elisimpson commented on #273
Hoping ComparePlus resolves this issue. Back to Light Mode until it's released

[2022-06-25 20:37] AndnixSH opened #292 "Dark theme"
When i compare, the color scheme is still light mode. Can you add support for build-in dark theme?

![image](https://user-images.githubusercontent.com/40742924/175789800-55e1ab56-07c9-4ecd-9e4b-39f70e7cec21.png)

[2022-06-25 21:24] strayge commented on #292
as workaround you can manually change colors in `Plugins -> Compare -> Settings` to darker ones

[2022-06-27 07:42] pnedev commented on #292
This is already fixed and will be included in the first release of the new ComparePlus plugin.

Duplicates https://github.com/pnedev/compare-plugin/issues/273

Thanks.

[2022-06-27 08:17] AndnixSH commented on #292
Oh sorry, i didn't saw it while searching, but i saw the older one

[2022-06-29 08:34] jkiss56 opened #293 "control plugin from command line"
Hi,
Notepad++  v8.4.2 supports a "message" to a plugin from command line
Would it be possible to start N++ from command prompt opening 2 files in comapare mode?
something like -pluginMessage="second filename to open"

[2022-06-29 08:46] pnedev commented on #293
Hi @jkiss56 ,

It is already implemented in ComparePlus - a new plugin, successor of Compare that is about to be released soon (in a month or so).

The command to run compare from command line will be:

`notepad++ -pluginMessage="compare" old_file.txt new_file.txt`

[2022-07-03 08:14] Annunaki opened #294 "Compatibility"
Not compatible with NP++ v8.4.2

[2022-07-05 23:52] znsoooo opened #295 "Add the ability to compare the selected text with clipboard text?"
Sometimes there are two similar functions in a **SAME** file, and this function will be more convenient at this time. Or I want to compare just **TWO** similar functions in different files (but not **OTHER** functions in those files).

If can do better, do edit in comparison window, changes will be updated to the SELECTION AREA and CLIPBOARD synchronously.

[2022-07-06 08:47] pnedev commented on #294
It works

[2022-07-06 08:54] pnedev commented on #295
The new plugin ComparePlus (a successor of Compare) that I'm currently working on (and will soon be ready) has a feature to compare selections (just sections of two files).

About the compare against clipboard - it will be handy in your first use case when you want to compare sections from the same file. I'll see what I can do about that.
But if I implement compare against clipboard, have in mind

[2022-07-06 22:31] Yaron10 opened #296 ""File is not written to disk" on SVN/Git Diff"
Hello Pavel,

I hope you're doing well.

Thank you very much for your recent work. Much appreciated as always. 👍

I didn't want to bother you before getting the cue.
Seeing that you're working on new major enhancements for v1, I'll allow myself some comments. :)

Here is the first:
Executing `SVN/Git Diff` with no SVN/Git in my machine, I get the "File is not written to disk..." message.
(Introduc

[2022-07-06 22:32] Yaron10 commented on #229
Hello Pavel,

I don't really remember our discussions regarding "Compare Selections".

Trying to figure out what the user wants on re-Compare if currently there are no selections, should be very complex.
If you allow me, I'd suggest to make it as basic and simple as possible.

Thank you.

BR

[2022-07-06 22:33] Yaron10 opened #297 "[Enhancement] Execute Ctrl+Left-Click on Compare-Symbol in Unfocused-View"
Hello Pavel,

The "Ctrl/Shift+Left-Click on Compare-Symbol" feature is great, and I use it frequently. 👍

I often find myself "Ctrl/Shift+Left-Click on Compare-Symbol" in the _other view_.
The first operation moves focus to that view, and I need to repeat it to get the desired "equalizing".

Would it be possible to move focus and equalize in one operation?

Thank you.

***
Using "Ctrl/Shift+Left-C

[2022-07-06 23:53] Yaron10 commented on #296
Hello again Pavel,

I've never used the `SVN/Git Diff` commands in real life.
I remembered the "No data" message.
I suppose you should get the "File is not written to disk..." message if a new unsaved doc is active.

I apologize.

BR

[2022-07-06 23:53] #296 closed

[2022-07-07 10:56] pnedev commented on #229
@Yaron10 ,
Hello my friend,

Now we are both back to Compare, I appreciate and enjoy that! :)
This reminds me of the "old days" and the discussions we had back then ;)

I can't remember if we have ever discussed "Selection compare" as this was a new feature introduced in ComparePlus and I stopped the development for a very long time.
I agree with you that selections re-compare should be "as simple

[2022-07-07 17:37] Yaron10 opened #298 "Some "Equalizer" issues"
Hello Pavel,

Could you please try the following case?

**STR:**
Compare [these files](https://github.com/pnedev/compare-plugin/files/9066086/Find.zip).
Place the caret on line `621` in `FindReplaceDlgOld.cpp`.
_Mouse-scroll_ down to line `631`  in `FindReplaceDlgOld.cpp` and make sure that line `760` in `FindReplaceDlgNew.cpp` is visible.

![תמונה](https://user-images.githubusercontent.com/102293

[2022-07-07 17:37] Yaron10 commented on #297
Hello Pavel,

Thank you for looking into it and for the explanation. I appreciate it.
That's a mini-minor enhancement. :)

BR

***
https://github.com/pnedev/compare-plugin/issues/298

[2022-07-07 17:37] #297 closed

[2022-07-07 17:39] Yaron10 commented on #229
Hello my friend Pavel,

Back in the old days. When we were young and beautiful. :)
I'm glad you're back and enjoying it. So am I.
Thank you.

Yes, we have discussed "Compare Selections".
Sadly, I don't remember the details.

Briefly testing that now, it seems to be implemented very well. 👍
Some of the issues listed here seem to be still valid.
I'll test "Compare Selections" more thoroughly once yo

[2022-07-07 18:05] Yaron10 commented on #298
**NOTE:**
If you place the caret on line `631` before Ctrl+left-clicking, the result is OK.

[2022-07-08 08:18] pnedev commented on #229
Hello Yaron,

I'll test "Compare Selections" more thoroughly once you let me know it should be ready.

Yes, I haven't come to these issues yet.
I'll let you know when I debug them, thanks.

And thank you once again for all the feedback.

Me neither :)
I've tested it briefly but people that will make extensive use of that feature will report if things are not as expected.

But what comes with that

[2022-07-08 08:23] pnedev commented on #298
Hello Yaron,

Thanks for the example files and the description.
I'll try that and write back.
I won't have time this weekend so maybe next week, thanks.

BR

[2022-07-08 10:52] Yaron10 commented on #298
Hello Pavel,

Thank you for looking into it, and best of luck.
Whenever you have time, and according to your priority.

BR

[2022-07-08 10:53] Yaron10 commented on #229
Hello Pavel,

I'll let you know when I debug them, thanks.

👍

Sure, I'd be glad to try that.
There's no "Case" in Hebrew.

Thanks again for time and work. 👍

BR

[2022-07-08 15:19] Yaron10 opened #299 "Compare - Hebrew"
Hello Pavel,

I don't compare Hebrew files very frequently.
I've tested [the latest commit](https://github.com/pnedev/compare-plugin/commit/1dbfb927c81cd61d9977da47b6a6849859843b3d) vs. [the previous one](https://github.com/pnedev/compare-plugin/commit/b12f1b4ae7f43bf310dc7b96a604228e56237880).

[Here are the files](https://github.com/pnedev/compare-plugin/files/9073123/TestHebrew.zip).
Please rem

[2022-07-08 15:20] Yaron10 commented on #229
Hello again,

Thank you for pointing it out.
Interesting. :)

https://github.com/pnedev/compare-plugin/issues/299.

BR

[2022-07-09 17:23] Yaron10 opened #300 "[Enhancement] CompareDocking.ico"
Hello Pavel,

The `CompareDocking.ico` is treated as a 16x16 image, and is then re-scaled to 14x14.

Replacing
https://github.com/pnedev/compare-plugin/blob/2d6d61e5730e5aac44fd6da4731aee9c879099b8/src/NavDlg/NavDialog.cpp#L225
with
[code]
should solve the issue.

I'd also suggest to replace the current icon with [this one](https://github.com/pnedev/compare-plugin/files/9077583/CompareDocking.zip)

[2022-07-11 13:38] Ennowulff commented on #294
The plugin directory must be named "ComparePlugin"!

[2022-07-12 14:31] pnedev commented on #300
Hello Yaron,

Changed the icon and the loading as you suggested in commit https://github.com/pnedev/compare-plugin/commit/bbdf362032469f762f62a87e5b66512bdd08d2e8

Thank you! :+1:

BR

[2022-07-12 22:06] Yaron10 commented on #229
Hello Pavel,

👍
Thank you for looking into it. I appreciate that.
Best of luck. Whenever you have time.

[2022-07-12 22:06] Yaron10 commented on #300
Hello Pavel,

Great. 👍

I forgot to mention that the code was taken from NPP Dark-Mode refactoring.

Thank you.

BR

[2022-07-15 21:14] znsoooo commented on #295
@pnedev Amazing! I am looking forward to it.

[2022-07-16 13:22] pnedev commented on #295
@znsoooo ,

Compare (selection) against clipboard is implemented and will be included in the release of ComparePlus plugin.
I hope it will be out in a month or so.

[2022-07-16 15:43] Yaron10 commented on #295
Hello Pavel,

Another great useful feature. 👍
Thank you for your work.

Two _minor_ comments:

1. When I first saw the `Compare (selection) against clipboard` command, I thought it would only work if there was a selection.
I do understand your wording now, but I'm wondering if `Compare against clipboard` should not be better.
(And elaborate in the user-guide).

2. Wouldn't `Clipboard does not cont

[2022-07-17 07:26] pnedev commented on #295
Hello Yaron,

Thank you for testing it and for the feedback :+1:

About 1 - I would like to give a hint to the user with the command name (even if he/she haven't read the manual) that both selection and the whole file can be compared to clipboard. Does `Compare file/selection against clipboard` sound more clear or maybe `File/selection diff against clipboard`? Are those confusing as well?

About 2

[2022-07-17 11:41] pnedev commented on #195
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 11:41] #195 closed

[2022-07-17 11:42] #201 closed

[2022-07-17 11:49] pnedev commented on #231
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 11:49] #231 closed

[2022-07-17 11:54] pnedev commented on #212
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 11:54] #212 closed

[2022-07-17 11:56] pnedev commented on #217
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.
Direct command to compare file/selection against clipboard also implemented.

[2022-07-17 11:56] #217 closed

[2022-07-17 11:58] pnedev commented on #214
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 11:58] #214 closed

[2022-07-17 11:59] pnedev commented on #239
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 11:59] #239 closed

[2022-07-17 12:00] pnedev commented on #248
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 12:00] #248 closed

[2022-07-17 12:01] pnedev commented on #249
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 12:01] #249 closed

[2022-07-17 12:03] pnedev commented on #256
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 12:03] #256 closed

[2022-07-17 12:04] pnedev commented on #261
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 12:04] #261 closed

[2022-07-17 12:06] pnedev commented on #263
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 12:06] #263 closed

[2022-07-17 12:10] pnedev commented on #264
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 12:10] #264 closed

[2022-07-17 12:12] pnedev commented on #271
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 12:12] #271 closed

[2022-07-17 12:15] pnedev commented on #272
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 12:15] #272 closed

[2022-07-17 12:18] pnedev commented on #273
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 12:18] #273 closed

[2022-07-17 12:18] pnedev commented on #278
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 12:18] #278 closed

[2022-07-17 12:22] pnedev commented on #277
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.
Only SVN diff is not possible on ARM64 architectures due to missing SQLlite library for those platforms.

[2022-07-17 12:22] #277 closed

[2022-07-17 12:23] pnedev commented on #285
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.
Command to show statistics is also added to avoid problems with readability due to truncation.

[2022-07-17 12:23] #285 closed

[2022-07-17 12:25] pnedev commented on #270
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 12:25] #270 closed

[2022-07-17 12:25] pnedev commented on #211
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 12:25] #211 closed

[2022-07-17 12:26] pnedev commented on #266
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 12:26] #266 closed

[2022-07-17 12:26] pnedev commented on #293
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 12:26] #293 closed

[2022-07-17 12:28] #294 closed

[2022-07-17 12:37] pnedev commented on #287
@ten2120 ,

In a month I will release the first version of ComparePlus. It will be available for more recent versions of Notepad++ (maybe from v8.4.1 and up but not sure as I have no idea if there will not be more core changes in newer Notepad++ versions that will require compatibility fixes). You will be able to get it through PluginsAdmin.
I will close this thread now as I cannot reproduce it an

[2022-07-17 12:37] #287 closed

[2022-07-17 12:42] pnedev commented on #240
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.
ComparePlus has `Advanced Ignore` feature that is ignore regex actually. You can tune the regex to ignore the timestamps (or whatever you like).

[2022-07-17 12:42] #240 closed

[2022-07-17 12:43] Yaron10 commented on #295
Hello Pavel,

`Compare file/selection to Clipboard` or `Compare (file/selection) to Clipboard` would be great.

Yes. And it may be quite common.

Thanks again. 👍

BR

[2022-07-17 12:50] pnedev commented on #177
Hello all,

In a month a new plugin named ComparePlus will be out.
And eventhough it will not have explicit XML compare it has a command to Find Unique Lines between two documents that will be useful in the described case because it disregards lines order.
I will close this issue now. I would also add that it is out of the plugin scope to compare such specific cases. It is meant to be more generic

[2022-07-17 12:50] #177 closed

[2022-07-17 12:58] pnedev commented on #295
Hello Yaron,

Changed as you suggested in the dev branch.
Thanks. :+1:

BR

[2022-07-17 12:58] pnedev commented on #295
Implemented/fixed and will be included in the first ComparePlus plugin release coming in a month or so.

[2022-07-17 12:58] #295 closed

[2022-07-17 13:05] Yaron10 commented on #295
Thank you Pavel. 👍

[2022-07-17 13:09] pnedev commented on #167
Hello all,

In a month I will release the new ComparePlus plugin that will have advanced ignore feature which is actually a regex ignore but it is line-based. So every line is partially ignored based on the user supplied regex.
I understand that it will not fully cover your use-cases but I hope it can at least be a partial match.
I will keep this issue open as a reminder and in case I think of a w

[2022-07-17 16:50] bsacheri commented on #271
Excellent!   It's a good feeling to make some progress on a volunteer
project.   I'm currently injured and can't leave the house so I've been
doing the same on some of my pet projects with AutoHotkey scripts.

Cheers!

Ben
Pittsburgh, PA  USA

On Sun, Jul 17, 2022 at 8:12 AM Pavel Nedev ***@***.***>
wrote:

[2022-07-18 05:44] stiffsen commented on #177
Thanks, I will try that.

However, as my demand for such a functionality grew stronger, and I even have to diff big collections of XMLs occasionally, I implemented a solution myself. I wrote a little python script that parses all XMLs files in a folder and saves them such that all nodes and properties go into a separate line and are alphabetically sorted. This way, I can use any diff tool, to chec

[2022-07-18 06:31] pnedev commented on #271
Oh, sorry to "hear" about your injury. I hope you to get better soon. Good for your home projects though ;)
Finding any spare time is getting more and more difficult these days (at least for me).
Take care :+1:

[2022-07-18 06:34] pnedev commented on #177
Hi,

I'm glad you've found a solution that fits your needs well :+1:
Good luck!

BR

[2022-07-18 14:10] pnedev commented on #242
Hello Yaron,

Could you please try the latest commit in dev branch (https://github.com/pnedev/compare-plugin/commit/bf0ff7f41d727ad7c31110f5fce0d459d1e93966) and check if the issue is fixed?
Thanks a ton!

BR

[2022-07-19 10:58] Yaron10 commented on #242
Hello Pavel,

Could you please try the following cases?

**1.**
Set focus to the NavBar by clicking on its title bar.
Toggle the NavBar.

**Result:**
No element has focus.

**2.**
Set focus to the NavBar by clicking on its title bar.
Close the NavBar by clicking on its Close button.

**Result:**
The old file gets focus even if the previously focused element was the new file.

Thank you for looking

[2022-07-19 10:59] Yaron10 commented on #246
Hello Pavel,

I've just noticed you've added the "fixed" label to this issue.
Using the files I've attached in the first post here, the case is indeed fixed. 👍
(I haven't tried it with any other files).

Did you not ping me because you wanted to have another look? Or do you actually consider it "fixed"?

Thank you very much for your work.

BR

[2022-07-19 11:34] pnedev commented on #298
Hi Yaron,

One question:
Do you think it is better to position the cursor on the clicked line always or only in case the `Following Caret` is enabled?
I intentionally made the cursor to maintain its position on equalize action but in some cases the view is not properly restored as you noticed - I'll fix it soon. I was just wondering about the caret.

Thanks

[2022-07-19 11:43] pnedev commented on #246
Hello Yaron,

The issue is indeed fixed but I didn't ping you because there are some other minor problems related to navigation commands that I'd like to address and keeping this thread open reminds me of them.

BR

[2022-07-19 11:56] pnedev commented on #242
Hello Yaron,

I see, OK, could you please try again this dev commit: https://github.com/pnedev/compare-plugin/commit/a5c591608e57e9ad8c8f8b35a48f458c241e1151 ?

Thanks for testing and for the feedback :+1:

BR

[2022-07-19 12:01] pnedev commented on #234
Hello @ArkadiuszMichalski ,

Sorry for writing after such a long time.
This is a minor issue that is not easily fixable so I'll keep it as it is.

Thanks for reporting that and for the patience.
BR

[2022-07-19 12:41] Yaron10 commented on #242
Hello Pavel,

👍
Perfect!
Thank you very much.

BR

[2022-07-19 12:42] Yaron10 commented on #298
Hello Pavel,

I thought about it when suggesting to move the caret.
It seems like selecting and pasting - caret should be moved regardless of `Following Caret`.
But I'd certainly it if you argued the cases were not quite the same, and users who uncheck `Following Caret` would prefer not to move the caret on equalize.

👍
Great! I think this is very important.

Thanks again for your work. Much appre

[2022-07-19 12:42] Yaron10 commented on #246
Hello Pavel,

👍

Looking at the issues-tracker now, we can see the light at the end of the tunnel. :)
What an amazing project!
I'm pretty sure ComparePlus is the most complex NPP plugin. In many aspects it's probably more complex than NPP itself.

Thank you.

BR

[2022-07-19 12:43] #242 closed

[2022-07-19 13:56] pnedev commented on #298
Hello again, Yaron,

Could you try with the latest dev branch commit (https://github.com/pnedev/compare-plugin/commit/8da6ae0e635aea7e4d97f62cfc55558174610539) ?
If `Move caret on navigation` is enabled the caret will be set to the beginning of the equalized diff.
The view is now properly restored in both cases (with or without following caret). Auto-recompare must be ON - the problem was manifest

[2022-07-19 14:13] pnedev commented on #288
Hello @sweddd ,

I will release the new ComparePlus plugin in less than a month (it will be available through PluginsAdmin feature in next Notepad++ version probably or maybe the one that will follow) so can you try your test again when it is out and open another issue here if you still experience problems? Thanks a lot.

I will close this thread now as it concerns the old Compare plugin.

BR

[2022-07-19 14:13] #288 closed

[2022-07-19 14:51] pnedev commented on #254
Hello @marcofbbr ,

Sorry for the late update but I couldn't find time and focus for this project for the last couple of years.

Now I'm close to releasing ComparePlus - the new plugin I wrote you about. It should be ready in a month or less and you could get it from the PluginAdmin panel in the next Notepad++ releases (after v8.4.4).
I tested the files you supplied here and those are properly mar

[2022-07-19 14:51] #254 closed

[2022-07-20 17:22] AndnixSH opened #301 "NavBar still white background while dark mode enabled"
Just a minor bug that ComparePlus NavBar background is still white even dark mode is enabled. I'm using build artifacts [6530c14b](https://github.com/pnedev/compare-plugin/commit/6530c14bad9fbce3d6395a50795da139e364b04d) Environment: platform=x64; Configuration: Release

![image](https://user-images.githubusercontent.com/40742924/180043800-8616e02d-bec9-418a-843e-cdc9566cc740.png)

[2022-07-20 19:06] Yaron10 commented on #298
Hello Pavel,

Catching is easier than fixing. And your fix is excellent. 👍

Thank you for that too.

BR

[2022-07-21 10:49] pnedev commented on #301
Hello @AndnixSH ,

It is fixed with commit https://github.com/pnedev/compare-plugin/commit/626cd7c1e04fbafb1d8378319ee71edc5f32e060 to dev branch. Haven't extensively tested it so it might need some tuning. I'll do it later when I have more time.

BR

[2022-07-21 10:53] AndnixSH commented on #301
Looks OK for now. Just one more little suggestion, the border could be a bit thinner and darker compared to notepad++'s border

![image](https://user-images.githubusercontent.com/40742924/180197124-f7c2b4c8-9a8c-40e6-82d7-df275d8f1f55.png)

[2022-07-21 11:20] pnedev commented on #301
I'll check that too, OK, thanks.

[2022-07-22 00:23] acreconsulting opened #302 "Incompatible with Notepad++ v8.4.2"
Installed the latest update of Notepad++ and it's forcing this plugin to be disabled, citing incompatibility.

[2022-07-22 07:21] pnedev commented on #302
Hello @acreconsulting ,

I stopped supporting Compare plugin.
I'm working on another plugin that is its successor called ComparePlus. Its first release will be in less than a month and will be available through Plugins Admin dialog in the next versions of Notepad++.

You could try deleting Compare plugin and reinstalling it again to see if it fixes your problem. AFAIK Compare plugin should be work

[2022-07-22 07:21] #302 closed

[2022-07-22 13:28] Yaron10 opened #303 "Compare to Clipboard: Some Questions"
Hello Pavel,

Could you please try the following cases?

**1.**
Have a file containing one line `Test`.
Select All.
Copy.
_Remove selection_.
Compare to Clipboard.

**Expected:**
File and Clipboard match.

**2.**
Have a file containing one line `Test Test`.
Select `Test`.
Copy.
Compare to Clipboard.

**Expected:**
Selection and Clipboard match.

**3.**
Have a file containing _two lines_ `Test` + a

[2022-07-22 13:29] Yaron10 opened #304 "Windows 7: NavBar Vertical Scroll Bar is Flickering"
Hello Pavel,

**STR:**
Compare the [Find files](https://github.com/pnedev/compare-plugin/files/9066086/Find.zip).
Set focus to the NavBar by clicking on its title bar.

**Result:**
On Windows 7, the NavBar vertical scroll bar is flickering.

**NOTE:**
1. The issue does not exist on Windows 10.
2. It seems to be an old issue.

Thank you for looking into it.

BR

[2022-07-22 21:38] pnedev commented on #303
Hello Yaron,

I'll comment in a few days, thank you.

BR

[2022-07-23 09:39] Yaron10 commented on #303
Hello Pavel,

Whenever you have time.
I appreciate it.

Have a nice weekend.

[2022-07-24 13:38] pnedev commented on #304
Hello Yaron,

Let's leave it as a known issue.
Thank you.

BR

[2022-07-24 23:12] Yaron10 commented on #304
Hello Pavel,

👍
Thank you.

BR

[2022-07-25 12:16] pnedev commented on #301
Hi again @AndnixSH ,

Could you try again build https://ci.appveyor.com/project/pnedev/compare-plugin/builds/44268759 ?
The gaps should be better there.
Thank you.

[2022-07-25 13:05] pnedev commented on #303
Hello Yaron,

Just before you created this issue I did some changes to `Compare to clipboard` functionality.

Let's briefly go over the points you listed in regards to the current implementation:

1) This is working as you suggested in the latest implementation.

2) Unfortunately that expectation cannot be currently met. The selections that CP gets to compare are line-based. They cannot be parts o

[2022-07-25 19:07] AndnixSH commented on #301
Looks a lot better but still white line on right side
![image](https://user-images.githubusercontent.com/40742924/180855359-1cc5183f-da10-44ff-97a1-d8dc3df5a68d.png)

[2022-07-25 19:43] Yaron10 commented on #303
Hello Pavel,

Thank you for the detailed explanation. I appreciate it.

Tell me what you think.

It's not only this corner case.

[code]

Copy those lines and paste them in NPP.
Copy *here* the first 3 lines and select them them in NPP.
Compare to Clipboard.

**Result:**
As expected: match.

Copy those lines and paste them in NPP.
Select the first 3 lines in NPP and Copy.
Compare to Clipboard.

**

[2022-07-25 20:23] Yaron10 opened #305 "Some "Last" Issues"
Hello Pavel,

Could you please compare [these files](https://github.com/pnedev/compare-plugin/files/9184520/Test.zip)?

Activate `TestNew.rc`.
Press `Last` (the result now depends on the window size).
Press `Last` again.

**Result:**
1. The line is invisible.
2. The caret is at the *end of the line*.

It might be what you meant in https://github.com/pnedev/compare-plugin/issues/246#issuecomment-11

[2022-07-26 07:12] pnedev commented on #305
Hello Yaron,

Thank you for the report :+1:

Yes, it might be connected to what we talked about in #246 .
The navigation issues are the most complex by far due to the new alignment approach.

BR

[2022-07-26 07:32] pnedev commented on #303
Hello again Yaron,

The second case result is a match on my side.

I think I know what might have happened.

In the first case you have copied the text from _here_ which is done on "char-by-char" basis.
In the second case perhaps you have copied the three lines on a "line" basis in _Notepad_ (selecting them through the lines number margin). However this is not the same because the last copied symb

[2022-07-26 11:19] Yaron10 commented on #305
Hello Pavel,

Thanks again for your work and time. Much appreciated. 👍

BR

[2022-07-26 11:19] Yaron10 commented on #303
Hello Pavel,

That is correct. 👍
But this is how I usually select multiple lines in NPP.

Should I close this issue?
Anyway, I think it's not worth postponing ComparePlus release.

Thank you.

BR

[2022-07-26 13:26] #303 closed

[2022-07-26 13:58] pnedev commented on #301
@AndnixSH ,

Could you try again build https://ci.appveyor.com/project/pnedev/compare-plugin/builds/44282397 ?
Sorry for this iterations but I cannot properly test because I'm on Wine / Linux.

Could you also try the bigger file (more lines) to be on the left side? On my setup sometimes in that case (if left side pane is bigger that right side one) the vertical middle border line is not displayed

[2022-07-26 20:42] Yaron10 commented on #303
Hello Pavel,

Thanks again for the detailed explanation and for your hard work. 👍

The current implementation is great, and closing the issue seems the right decision.

BR

[2022-07-26 20:43] Yaron10 commented on #301
Hello Pavel,

Dark-mode is a strange world for me. I don't really know what to expect.

This is the NavBar on Window 10 (https://ci.appveyor.com/project/pnedev/compare-plugin/builds/44282397).
![תמונה](https://user-images.githubusercontent.com/10229320/181108160-d548414e-e196-4ab6-9657-47a58f8558e9.png)

Thank you.

BR

[2022-07-26 20:46] AndnixSH commented on #301
Mine on WIndows 11. The scrollbar is white too
![image](https://user-images.githubusercontent.com/40742924/181108726-84449423-4f5f-483b-90b6-25f8f417fb3e.png)

[2022-07-26 20:58] Yaron10 commented on #301
Hello again Pavel,

If I understand you correctly, the issue exists in light-mode as well.
![תמונה](https://user-images.githubusercontent.com/10229320/181110127-f6bd4192-2c29-47ad-9282-4d42a8f68458.png)

_Tested in NPP LTR_.

@AndnixSH,

Apart from the white scrollbar and the white area on the right pane, is everything else OK?

[2022-07-26 21:09] Yaron10 commented on #301
Pavel,

The UI can be really annoying and time consuming. :)
Would you like me to ping a plugin author who has implemented a docking panel in dark-mode?

[2022-07-27 08:37] pnedev commented on #301
Hello @Yaron10 and @AndnixSH ,

Yaron, thank you for testing NavBar border in light and dark modes. The missing part of the border line between panes is exactly what I wanted to check :+1:

It is fixed in build https://ci.appveyor.com/project/pnedev/compare-plugin/builds/44291388 .

I don't think it will be useful in CP case but it won't hurt either so yes, thanks.

@AndnixSH , thank you for the f

[2022-07-27 12:22] Yaron10 commented on #301
Hello Pavel,

The missing part of the border is fixed. 👍

So, with your permission, I won't ping him at this point. :)
https://github.com/shriprem/FWDataViz

Thank you for your great work.

BR

[2022-07-27 15:35] pnedev commented on #301
@AndnixSH ,

The quickest fix I was able to do (and that affects only the Scroller background) is this:
https://ci.appveyor.com/project/pnedev/compare-plugin/builds/44296232

Could you show me how it looks on Win11 (I don't have such setup) ?
Thanks.

[2022-07-27 20:56] AndnixSH commented on #301
Scrollbar looks kinda messed lol. And i just noticed another issue. Line numbers become wider, and black background on text editor

![image](https://user-images.githubusercontent.com/40742924/181368887-f395a721-5614-41bc-adb6-f57246e30244.png)

I can offer remote support for my Win11 VM if possible

[2022-07-27 22:14] Yaron10 commented on #301
Hello Pavel,

Windows 10 (https://github.com/pnedev/compare-plugin/commit/d80b54811d579c0602a2750be5c5a94c3179b800).

![תמונה](https://user-images.githubusercontent.com/10229320/181380796-369bd4b0-0322-410b-9004-7a6a82f41adf.png)

Thank you.

***
@AndnixSH,

ComparePlus sets `Preferences -> Margins -> Line Number` to `Constant width` and restores your original setting when you "Clear Compare".

[2022-07-27 23:50] pnedev commented on #301
@AndnixSH , @Yaron10 ,

Thanks for testing again.
Well, I will postpone scrollbar coloring for the moment and revert to its original form until it is properly customized.

@AndnixSH ,
As @Yaron10  replied the wider lines number margin is due to making it "static" and big enough to fit the biggest line number. It is configured this way only while you are in compare mode.
The "black background" is a

[2022-07-28 00:16] pnedev commented on #299
Hello Yaron,

Could you please test again this build when you have the time:
https://ci.appveyor.com/project/pnedev/compare-plugin/builds/44301097 ?

Thank you!

[2022-07-28 06:32] AndnixSH commented on #301
@pnedev Ok. I was quite confused about black background, but not a problem

I think you should not coloring the scroller manually. Can't you use build-in Windows API to change between dark and light mode? Maybe check source of Npp.

[2022-07-28 12:48] Yaron10 commented on #299
Hello Pavel,

With https://github.com/pnedev/compare-plugin/commit/84e001ba36dacb2ebcfa213c97087af7752c3d18.
Comparing **UTF-8** files, the results are perfect.
Comparing **ANSI** files, the results are "Character Diffs" even if that setting is unchecked and they are also wrong.

Is that expected? Should it only work with UTF files?

Thank you very much for your work. I do appreciate it. 👍

BR

[2022-07-28 12:49] Yaron10 commented on #301
Hello Pavel,

Did you mean reverting https://github.com/pnedev/compare-plugin/commit/d80b54811d579c0602a2750be5c5a94c3179b800?
Or those changes should be kept anyway?

Thanks again for your time and work. 👍

[2022-07-28 13:20] pnedev commented on #299
Hello Yaron,

Thank you for testing that.

Yes, that is expected. Files should be UTF.
I will consider that issue fixed unless you have additional comments / concerns.

BR